.px-2.px-sm-3.px-md-5.py-4#teams

  .d-flex.mb-4
    .flex-grow-1
      %h1 Teams
    %div
      = link_to new_team_path, class: 'btn btn-primary' do
        %i.fas.fa-plus
        New Team

  %teams-list
