<template lang='pug'>

div

  //- modal
  #decryptModal.modal.fade(ref='decryptModal' data-backdrop='static' tabindex='-1' role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Decrypt document
        .modal-body
          .alert.alert-danger(v-if='decryptionError') {{ decryptionError }}
          p
            | This document is encrypted. You need to enter the encryption password to decrypt the document before
            | editing it.
          .form-group
            label(for='decryptionPasswordInput') Password
            input#decryptionPasswordInput.form-control(type='password' v-model='password')
        .modal-footer
          button.btn.btn-primary(type='button' @click='decrypt') Decrypt

  .d-flex.flex-row.align-items-center.justify-content-center
    h3.text-center.my-3.text-muted.text-uppercase.font-weight-bold
      | {{ document.title }}

  div( v-show='loading' )
    .m-5.col-xl-8.mx-auto
      .ph-item
        .ph-col-12( v-for='n in 3' )
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-4
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-6
          .ph-row

  div( v-show='!loading' )
    .col-xl-8.mx-auto
      .alert.alert-danger.alert-dimissable.fade.show.mb-3( v-if='error' )
        span( v-html='error' )
        button.ml-2.close( type='button', data-dismiss='alert', aria-label='Close' )
          span(aria-hidden='true') &times;
    
    tab-nav( :tabs='tabs' )

      //- content tab
      template(v-slot:content='')
        .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1
          input.form-control.form-control-lg.border-0.shadow-sm.rounded-0#document_title(
            type='text'
            name='document[title]'
            v-model='document.title'
          )

          .bg-white.shadow-sm.py-4.px-5.mt-2
            .blocks.d-flex.flex-column
              add-block-button(@click='add($event, 0)')
              draggable(
                v-model='document.blocks'
                group='blocks'
                @start='drag=true'
                @end='drag=false'
                filter='filtered'
                handle='.handle'
              )
                div(v-for='(block, index) in document.blocks' :key='block.id')
                  edit-block(:block='block' @remove='remove(index)')
                  add-block-button(@click='add($event, index+1)')

      //- properties tab
      template(v-slot:properties='')
        .col-xl-6.offset-xl-3.col-lg-8.offset-lg-2
          documents-edit-properties( :document='document' )

      //- settings tab
      template(v-slot:settings='')
        .col-xl-6.offset-xl-3.col-lg-8.offset-lg-2
          documents-edit-settings(:document='document' :password='password' @input='password = arguments[0]')

      //- permissions tab
      template(v-slot:permissions='')
        .col-lg-8.offset-lg-2
          documents-permissions(:document='document')

      //- extra buttons
      template(v-slot:links='')
        .mx-2.d-flex.align-items-center
        
          button.btn.btn-sm.btn-primary
            i.fas.fa-save
            span.pl-2 Save

          a.nav-link.btn.btn-link.text-danger(:href='document.show_url')
            | Cancel
</template>

<script>
import Axios from 'axios';
import draggable from 'vuedraggable';
import EditBlock from './Blocks/Edit';
import AddBlockButton from './Blocks/AddButton';
import CryptoJS from 'crypto-js'

export default {
  props: ['document_url'],
  computed: {
    passwordName: function() {
      return `document-${this.document.id}-password`
    }
  },
  watch: {
    'document.encrypted': function(v) {
      if (this.document && this.document.blocks) {
        for (var i in this.document.blocks) {
          this.document.blocks[i]['encrypted'] = v
        }
      }
    },
    'password': function(v) {
      this.$localStorage.set(this.passwordName, this.password)
    }
  },
  data() {
    return {
      drag: false,
      error: '',
      notice: '',
      loading: true,
      isDecrypting: false,
      decryptionError: null,
      password: '',
      document: {
        title: 'Loading...',
        blocks: [],
        visibility: 'public',
        encrypted: false
      },
      tabs: [
        { name: 'content', label: 'Content' },
        { name: 'properties', label: 'Properties' },
        { name: 'settings', label: 'Settings' },
        { name: 'permissions', label: 'Permissions' }
      ]
    }
  },
  components: {
    draggable,
    EditBlock,
    AddBlockButton
  },
  mounted() {
    let form = this.$el.closest('form')
    if (form)
      form.addEventListener('submit', this.encrypt)
    if (this.document_url)
      this.fetch()

    if (window.location.hash) {
      let el = $(`#documentTabs a[href="${window.location.hash}"]`)
      if (el) { el.tab('show') }
    }
  },
  methods: {

    // add a block to the document
    add: function (type, index) {

      // create random id
      var id = Math.floor((Math.random() * Number.MAX_SAFE_INTEGER) + 1);

      var block = {
        id: id,
        type: type,
        content: '',
        alignment: 'justify',
        kind: '',
        level: 1,
        encrypted: this.document.encrypted
      }
      
      switch (type) {
        case 'List':
          block.content = '<li></li>'
          block.kind = 'unordered'
          break
        case 'Image':
          block.content = 'https://picsum.photos/500/200'
          block.alignment = 'center'
          break
        case 'Code':
          block.kind = 'ruby'
          block.content = 'foo = 42'
          break
        case 'Table':
          block.content = '[]'
          block.columns = 3
          block.rows = 2
          break
      }
      
      this.document.blocks.splice(index, 0, block);

      // focus the editable
      this.$nextTick(() => {
        $('[block-id="' + id + '"] [contenteditable]').focus();
      });
    },

    // remove a block from the document
    remove: function (index) {
      this.document.blocks.splice(index, 1);
    },

    // fetch and parse document from JSON
    fetch: function() {
      var that = this
      this.loading = true
      Axios
      .get(this.document_url)
      .then(function(response) {
        var document = response.data
        var allBlocksEncrypted = true
        if (document.blocks.length == 0) {
          allBlocksEncrypted = false
        }
        if (document.blocks) {
          for (var i in document.blocks) {
            if (document.blocks[i]['encrypted']) {
              document.blocks[i].locked = true
            } else {
              allBlocksEncrypted = false
            }
          }
        } else {
          allBlocksEncrypted = false
        }
        document.encrypted = allBlocksEncrypted
        that.document = document
        if (allBlocksEncrypted)
          that.unlock()
        that.loading = false
      })
      .catch(error => {
        that.loading = false
        that.error = error
      })
    },

    // first decryption of document
    //
    // attempt to decrypt using cached password, or show dialog
    unlock: function() {
      this.password = this.$localStorage.get(this.passwordName, '')
      if (!this.document.encrypted || this.password == '' || !this.decrypt()) {
        $('#decryptModal').modal({ show: true, keyboard: false })
        $('#decryptionPasswordInput').focus()
      }
    },

    // attempts to decrypt the document, returns bool
    decrypt: function() {
      var success = true
      if (this.document.blocks) {
        for (var i in this.document.blocks) {
          if (this.document.blocks[i]['encrypted']) {
            var hmac = this.document.blocks[i]['content'].substring(0, 64)
            var cipher = this.document.blocks[i]['content'].substring(64)
            try {
              var plainHmac = CryptoJS.HmacSHA256(cipher, CryptoJS.SHA256(this.password)).toString();
              var plain = CryptoJS.AES.decrypt(cipher, this.password).toString(CryptoJS.enc.Utf8)
              if (hmac == plainHmac) {
                this.document.blocks[i].content = plain
                this.document.blocks[i].locked = false
              } else {
                success = false
              }
            }
            catch
            {
              success = false
            }
          }
        }
      }
      if (success) {
        $('#decryptModal').modal('hide')
      } else {
        this.decryptionError = 'Incorrect password.'
      }
      return success
    },

    // Event callbcack that will encrypt the document
    encrypt: function(event) {
      if (this.document.encrypted) {
        for (var i in this.document.blocks) {
          if (!this.document.blocks[i].locked) {
            var cipher = CryptoJS.AES.encrypt(this.document.blocks[i].content, this.password).toString()
            var hmac = CryptoJS.HmacSHA256(cipher, CryptoJS.SHA256(this.password)).toString();
            this.document.blocks[i].content = `${hmac}${cipher}`
          }
        }
      }
    }
  }
}
</script>
