<template>
  <div class='text-center'>
    <p class='text-muted pb-2'>Export the document to portable formats.</p>
    <div class='form-row'>
      <div class='form-group col-12 col-lg-6 offset-lg-3'>
        <label for='exportFormat'>Format</label>
        <select id='exportFormat' class='custom-select' :disabled='isRunning' v-model='format'>
          <option value='pdf'>PDF</option>
          <option value='epub'>ePUB</option>
          <option value='html'>HTML</option>
        </select>
      </div>
      <div class='form-group col-12 col-lg-6 offset-lg-3' v-show="format == 'html'">
        <label for='exportArchive'>
          Archive
          <a data-toggle='tooltip'
             data-html='true'
             data-placement='right'
             class='text-muted'
             title='The HTML format consists of multiple files so an archive is created containing all files.'>
            <i class="fas fa-question-circle"/>
          </a>
        </label>
        <select id='exportArchive' class='custom-select' :disabled='isRunning' v-model='archive'>
          <option value='zip'>zip</option>
          <option value='tgz'>tgz (tar.gz)</option>
          <option value='txz'>txz (tar.xz)</option>
        </select>
      </div>
    </div>
    <div class='form-row' v-show='document.encrypted'>
      <div class='form-group col-12 col-lg-6 offset-lg-3'>
        <label for='exportPassword'>
          Password
          <a data-toggle='tooltip'
             data-html='true'
             data-placement='right'
             class='text-muted'
             title='<div class="text-left">The password is sent to the server for decrypting the document before building it.<br/><br/>The password is never stored and all build files are purged after the export is complete.</div>'>
            <i class="fas fa-question-circle"/>
          </a>
        </label>
        <input type='password' class='form-control' id='exportPassword' name='export_password' :disabled='isRunning'
               @input='updatePassword()' :value='password' ref='password' />
      </div>
    </div>
    <button class='btn btn-primary' @click='start()' :disabled='isRunning'>
      <span v-if='isRunning'>
        <i class='fas fa-circle-notch fa-spin'/>
      </span>
      Start export
    </button>
    <button class='btn btn-danger ml-2' @click='stop()' v-if='isRunning'>
      <i class='fas fa-ban'/>
      Cancel
    </button>

    <div class='d-flex justify-content-center'>
      <div class='alert alert-success alert-dimissable fade show my-2' v-if='successMessage'>
        <span v-html='successMessage'></span>
        <button type='button' class='ml-2 close' data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='alert alert-danger alert-dimissable fade show my-2' v-if='errorMessage'>
        <span v-html='errorMessage'></span>
        <button type='button' class='ml-2 close' data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
    </div>

    <!-- progress tracker -->
    <progress-tracker class='my-5 my-pt' :steps='trackerSteps' :current='currentStep' />

    </div>
  </div>
</template>

<script>
import Axios from 'axios'
import saveAs from 'file-saver'

export default {
  props: ['document', 'password'],
  data() { return {
    trackerSteps: [
      { label: 'Prepare' },
      { label: 'Build' },
      { label: 'Finalize' }
    ],
    errorMessage: '',
    successMessage: '',
    currentStep: 0,
    isRunning: false,
    format: 'pdf',
    archive: 'zip',
    timer: null,
    probeDelay: 1000,
    jobId: null
  }; },
  mounted: function() {
    $('[data-toggle="tooltip"]').tooltip()
  },
  methods: {
    start() {
      var that = this
      this.isRunning = true
      this.successMessage = ''
      this.errorMessage = ''
      this.currentStep = 1
      if (this.timer)
        clearInterval(this.timer)
      this.probe(true)
      this.timer = setInterval(this.probe, this.probeDelay)
    },
    stop() {
      if (this.timer)
        clearInterval(this.timer)
      this.isRunning = false
      this.currentStep = 0
      this.jobId = null
    },
    fail(error) {
      this.stop()
      this.successMessage = ''
      this.errorMessage = error
    },
    succeed(message) {
      this.stop()
      this.successMessage = message
      this.errorMessage = ''
    },
    updatePassword() {
      this.$emit('input', this.$refs.password.value)
    },
    probe(isFirst = false) {

      // subsequent probes must have an ID to probe against
      if (!isFirst && !this.jobId)
        return

      var that = this
      try {
        var export_params = {
          export_format: this.format,
          export_archive: this.archive,
          export_password: this.password
        }

        if (this.jobId)
          export_params['job_id'] = this.jobId

        Axios
        .get(this.document.export_url, { params: export_params })
        .then(function(response) {
          var status = response.data.status
          if (status.state == 'error') {
            that.fail(status.error)
          }
          else if (status.state == 'finished') {
            if (!that.isRunning) return
            that.succeed('Export finished successfully')
            var result = response.data.result

            var byteCharacters = atob(result.data)
            var byteNumbers = new Array(byteCharacters.length)
            for (var i = 0; i < byteCharacters.length; i++) {
              byteNumbers[i] = byteCharacters.charCodeAt(i)
            }
            var byteArray = new Uint8Array(byteNumbers)
            var file = new Blob([byteArray], { type: result.mime })
            saveAs(file, result.filename)

          } else {
            that.jobId = status.id
            that.currentStep = status.step
          }
        })
        .catch(function(error) {
          that.fail(error)
        });
      }
      catch (error) {
        this.fail(error)
      }
    }
  }
};
</script>
