<template>
  <div>
    <div v-if='isLoading'>
      <div class="ph-item">
        <div class='ph-col-12'>
          <div class="ph-row">
            <div class="ph-col-4 big"></div>
            <div class="ph-col-6 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-2 big"></div>
            <div class="ph-col-8 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if='documents == 0'>
      <p class='text-muted font-italic'>
        No documents found.
      </p>
    </div>
    <div v-else>
      <ul class='list-group'>
        <li
          class='list-group-item list-group-item-action'
          v-for='document in documents'
          :key='document.id'
          :document='document'
        >
          <div class='d-flex justify-content-between align-items-center'>
            <a class='text-truncate' :href='document.show_url'>
              {{ document.title }}
            </a>
            <span class='text-nowrap'>
              <a class='btn mr-1 mr-md-2 btn-sm' :href='document.edit_url' v-if='document.edit_url'>
                <i class='fas fa-edit'/>
                Edit
              </a>
              <a
                class='btn btn-danger btn-sm'
                v-if='document.destroy_url'
                :href='document.show_url'
                data-method='delete'
                data-confirm='Are you sure?'>
                <i class='fas fa-trash'/>
                Delete
              </a>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Axios from 'axios';
import Consumer from "channels/consumer";

export default {
  props: ['url', 'json'],
  data() {
    return {
      isLoading: true,
      documents: []
    }
  },
  created() {
    var that = this;
    Consumer.subscriptions.create("DocumentsChannel", {
      connected() { },

      disconnected() { },

      received(data) {
        var document = that.documents.find(e => e.id == data.document.id);
        switch (data.action) {
          case 'create':
            that.documents.push(data.document);
            break;
    
          case 'destroy':
            if (document)
              that.documents.splice(that.documents.indexOf(document), 1);
            break;
    
          case 'update':
            if (document) {
              document.title = data.document.title;
              document.copyright = data.document.copyright;
            }
            break;
        }
      }
    });
    if (this.json) {
      this.documents = JSON.parse(this.json);
      this.isLoading = false
    } else {
      Axios
        .get(this.url || '/documents.json')
        .then(response => {
          this.documents = response.data
          this.isLoading = false
        })
        .catch(error => console.error(error));
    }
  }
}
</script>
