<template lang='pug'>
.container-fluid
  .row
    .col-md-8.offset-md-2.p-3
      .row.pb-3
        .col-9
          input.form-control( type='text' name='document[title]' v-model='document.title' placeholder='New document')
        .col-3.text-right
          button.btn.btn-primary.btn.sm.mr-2
            i.fas.fa-save
            span.ml-1 Save
          a.btn.btn-link.text-danger( href='/documents' ) Cancel

      .bg-white.shadow-sm.py-4.px-5
        .blocks.d-flex.flex-column
          add-block-button( @click='add($event, 0)' )
          draggable( v-model='document.blocks' group='blocks' @start='drag=true' @end='drag=false' filter='filtered'
                    handle='.handle' )
            div( v-for='(block, index) in document.blocks' :key='block.id' )
              edit-block( :block='block' @remove='remove(index)' )
              add-block-button( @click='add($event, index+1)' )
</template>

<script>
import Axios from 'axios';
import draggable from 'vuedraggable';
import EditBlock from './Blocks/Edit';
import AddBlockButton from './Blocks/AddButton';

export default {
  props: ['document_url'],
  data() {
    return {
      drag: false,
      document: {
        title: '',
        visibility: 'public',
        blocks: []
      }
    }
  },
  components: {
    draggable,
    EditBlock,
    AddBlockButton
  },
  methods: {

    // add a block to the document
    add: function (type, index) {

      // create random id
      var id = Math.floor((Math.random() * Number.MAX_SAFE_INTEGER) + 1);

      var block = {
        id: id,
        type: type,
        content: '',
        alignment: 'justify',
        kind: '',
        level: 1,
        encrypted: this.document.encrypted
      }
      
      switch (type) {
        case 'List':
          block.content = '<li></li>'
          block.kind = 'unordered'
          break
        case 'Image':
          block.content = 'https://picsum.photos/500/200'
          block.alignment = 'center'
          break
        case 'Code':
          block.kind = 'ruby'
          block.content = 'foo = 42'
          break
        case 'Table':
          block.content = '[]'
          block.columns = 3
          block.rows = 2
          break
      }
      
      this.document.blocks.splice(index, 0, block);

      // focus the editable
      this.$nextTick(() => {
        $('[block-id="' + id + '"] [contenteditable]').focus();
      });
    },

    // remove a block from the document
    remove: function (index) {
      this.document.blocks.splice(index, 1);
    }
  }
}
</script>
