<template lang='pug'>
div
  p.text-muted.py-2 Permissions allows you to grant other users access to this document.
  .row.m-0
    .col-5.p-0.pr-2.form-group
      autocomplete#subject(:getResults='searchSubjects' :disabled='isAddingPermission' v-model='subjectToAdd'
                           aria-describedby='subjectHelp' ref='subjectAutocomplete')
      small#subjectHelp.form-text.text-muted
        | Who to {{ modeToAdd }}
    .col-3.p-0.pr-2.form-group
      select.custom-select(v-model='privilegeToAdd')
        option(selected='') Privilege
        option(value='read') Read
        option(value='write') Write
        option(value='admin') Admin
      small#privilegeHelp.form-text.text-muted
        | Privilege to {{ modeToAdd }}
    .col-2.p-0.pr-2.form-group
      select.custom-select(v-model='modeToAdd')
        option(value='allow') Allow
        option(value='deny') Deny
    .col-2.p-0
      button.btn.btn-primary.btn-block(:class='{ disabled: isAddingPermission }' @click.prevent='addPermission')
        div(v-show='isAddingPermission')
          span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
          |             Adding...
        div(v-show='!isAddingPermission')
          | Add Permission
  .text-muted.mt-3(v-if='!document.permissions || document.permissions.length == 0')
    i
      | This document has no permissions
  table.table.table-hover(v-if='document.permissions && document.permissions.length > 0')
    thead
      tr
        th(scope='col')
          small.text-uppercase.font-weight-bold Subject
        th(scope='col')
          small.text-uppercase.font-weight-bold Privilege
        th(scope='col')
          small.text-uppercase.font-weight-bold Mode
        th(scope='col')
    tbody
      tr(v-for='(permission, index) in document.permissions' :key='permission.id')
        th.align-middle(scope='row') {{ permission.subject.username }}
        td.align-middle {{ permission.privilege | capitalize }}
        td.align-middle {{ permission.mode | capitalize }}
        td.align-middle.text-right
          a.btn.btn-danger.btn-sm(href='#' @click.prevent='removePermission(index)')
            i.fas.fa-trash
</template>

<script>
import Axios from 'axios';
import Autocomplete from '../Autocomplete.vue';

export default {
  props: ['document'],
  components: {
    Autocomplete
  },
  data() { return {
    privilegeToAdd: 'read',
    modeToAdd: 'allow',
    subjectToAdd: {
      id: 0,
      name: '',
      type: 'User'
    },
    isAddingPermission: false,
  }; },

  methods: {
    searchSubjects(query) {
      // create array of IDs we already have, to filter out from search results
      var existingSubjects = this.document.permissions.map(x => x['subject_id']);

      return new Promise(function(resolve, reject) {
        Axios
          // make request searching for users
          .get('/users.json', { params: { q: query } })

          .then(response => {
            resolve(
              // filter out IDs that we already have permissions for
              response.data.results.filter(
                x => (existingSubjects.indexOf(x.id) == -1)

              // return an object with name, id and type
              ).map(
                x => ({ 'name': x.username, 'type': 'User', 'id': x.id })
              )
            );
          })
          .catch(error => {
            reject(error);
          });
      });
    },
    addPermission() {
      this.isAddingPermission = true;
      Axios
        .post(`/documents/${this.document.id}/permissions.json`, {
          permission: {
            subject_id: this.subjectToAdd.id,
            subject_type: this.subjectToAdd.type,
            object_type: 'Document',
            object_id: this.document.id,
            privilege: this.privilegeToAdd,
            mode: this.modeToAdd
          }
        })
        .then(response => {
          console.log(response);
          this.document.permissions.push(response.data);
          this.subjectToAdd = '';
          this.modeToAdd = 'allow';
          this.modeToAdd = 'allow';
          this.isAddingPermission = false;
        })
        .catch(error => {
          this.isAddingPermission = false;
          console.error(error);
          console.log('mark classification input as invalid');
        });
    },
    removePermission(index) {
      var permissionToRemove = this.document.permissions[index]
      this.document.permissions.splice(index, 1)
      Axios
        .delete(`/documents/${this.document.id}/permissions/${permissionToRemove.id}.json`)
        .then(response => { })
        .catch(error => {
          this.document.permissions.push(permissionToDelete);
          console.error(error);
          console.log('show error message');
        });
      
    },
  },
  created() {
    let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
    Axios.defaults.headers.common['X-CSRF-Token'] = token
    Axios.defaults.headers.common['Accept'] = 'application/json'
  }
};
</script>
