<template lang='pug'>
div
  dl( :class='dlClass' )
    dt Owner
    dd( v-if='document.owner.kind == "User"')
      users-item( :user='document.owner' )
    dd( v-else-if='document.owner.kind == "Team"')
      teams-item( :team='document.owner' )

    dt Visibility
    dd {{ document.visibility | capitalize }}

    template( v-if='document.classification' )
      dt Classification
      dd {{ document.classification.name }}

    template( v-if='document.status' )
      dt Status
      dd {{ document.status.name }}
  properties-list( :properties='document.properties', :dlClass='dlClass' )

  dl( :class='dlClass', v-if='!document.encrypted' )
    dt Blocks
    dd {{ document.statistics.blocks.total }}

    dt Sentences
    dd {{ document.statistics.sentences }}

    dt Words
    dd {{ document.statistics.words }}

    dt Characters
    dd {{ document.statistics.characters }}

</template>

<script>
export default {
  props: {
    document: {
      type: Object,
      default: () => {
        return {
          owner: {},
          properties: [],
          status: {},
          statistics: {
            blocks: {}
          },
          classification: {},
        }
      }
    },
    dlClass: {
      type: String,
      default: ''
    }
  }
}
</script>
