<template lang='pug'>
div

  //- modal
  #decryptModal.modal.fade(ref='decryptModal' data-backdrop='static' tabindex='-1' role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Decrypt document
        .modal-body
          .alert.alert-danger(v-if='decryptionError') {{ decryptionError }}
          p
            | This document is encrypted. You need to enter the encryption password to decrypt the document before
            | viewing it.
          .form-group
            label(for='decryptionPasswordInput') Password
            input#decryptionPasswordInput.form-control(type='password' v-model='password')
        .modal-footer
          button.btn.btn-primary(type='button' @click='decrypt') Decrypt

  .d-flex.flex-row.align-items-center.justify-content-center
    h3.text-center.my-3.text-muted.text-uppercase.font-weight-bold
      | {{ document.title }}

  div( v-show='loading' )
    .m-5.col-xl-8.mx-auto
      .ph-item
        .ph-col-12( v-for='n in 3' )
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-4
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-12
          .ph-row
            .ph-col-6
          .ph-row

  div( v-show='!loading' )
    .col-xl-8.mx-auto
      .alert.alert-danger.alert-dimissable.fade.show.mb-3( v-if='error' )
        span( v-html='error' )
        button.ml-2.close( type='button', data-dismiss='alert', aria-label='Close' )
          span(aria-hidden='true') &times;
    
    tab-nav( :tabs='tabs' )

      //- content tab
      template(v-slot:content='')
        .container-fluid.mb-5
          .row
            .col-2
              p
            .col-12.col-xl-8
              .bg-white.shadow-sm.py-4.px-5
                div( v-if='document.blocks == 0')
                  p.text-center.text-muted.font-italic.m-5 Document is empty.
                div( v-else )
                  documents-blocks-list( :blocks='document.blocks' )
                .text-muted.text-center.pt-1.pb-3
                  small {{ copyrightLine }}
            .col-2
              documents-properties( :document='document' )

      //- content tab
      template(v-slot:properties='')
        .col-xl-6.offset-xl-3.col-lg-8.offset-lg-2
          documents-properties( :document='document', dlClass='dl-lg' )

      //- export tab
      template(v-slot:export='')
        .col-xl-6.offset-xl-3.col-lg-8.offset-lg-2
          documents-export( :document='document', :password='password', @input='password = arguments[0]' )

      //- extra buttons
      template(v-slot:links='')
        .d-flex.align-items-center
          .ml-3
            a.btn.btn-sm.btn-primary(v-if='document.edit_url' :href='document.edit_url')
              i.fas.fa-pen
              span.pl-2 Edit

          .ml-2
            a.btn.btn-sm.btn-danger(:href='document.show_url' data-method='delete' v-if='document.destroy_url'
                                            data-confirm='Are you sure you want to delete this document?')
              i.fas.fa-trash
              span.pl-2 Delete

</template>

<script>
import Axios from 'axios';
import Consumer from "channels/consumer";
import CryptoJS from 'crypto-js'

export default {
  props: ['url', 'id'],
  data() {
    return {
      isDecrypting: false,
      decryptionError: null,
      password: '',
      error: '',
      loading: true,
      document: {
        owner: {},
        properties: [],
        status: {},
        statistics: {
          blocks: {}
        },
        classification: {},
      },
      tabs: [
        { name: 'content', label: 'Content' },
        { name: 'properties', label: 'Properties' },
        { name: 'export', label: 'Export' }
      ]
    }
  },
  computed: {
    passwordName: function() {
      return `document-${this.document.id}-password`
    },
    copyrightLine() {
      let line = `Ⓒ ${new Date().getFullYear()}`
      if (this.document.copyright)
        line = `${line} ${this.document.copyright}`
      return line
    }
  },
  watch: {
    'password': function(v) {
      this.$localStorage.set(this.passwordName, this.password)
    }
  },
  created() {
    Consumer.subscriptions.create(
      { channel: "DocumentChannel", id: this.id },
      {
        connected() { },
  
        disconnected() { },
  
        received(data) { documentData.document = data.document; }
      }
    );

    if (this.url)
      this.fetch()
  },
  methods: {

    // fetch and parse document from JSON
    fetch: function() {
      this.loading = true
      var that = this
      Axios
      .get(this.url)
      .then(function(response) {
        var document = response.data
        var allBlocksEncrypted = true
        if (document.blocks.length == 0) {
          allBlocksEncrypted = false
        }
        if (document.blocks) {
          for (var i in document.blocks) {
            if (document.blocks[i]['encrypted']) {
              document.blocks[i].locked = true
            } else {
              allBlocksEncrypted = false
            }
          }
        } else {
          allBlocksEncrypted = false
        }
        document.encrypted = allBlocksEncrypted
        that.document = document
        if (allBlocksEncrypted)
          that.unlock()
        that.loading = false
      })
      .catch(error => {
        that.error = error
        that.loading = false
      })
    },

    // first decryption of document
    //
    // attempt to decrypt using cached password, or show dialog
    unlock: function() {
      this.password = this.$localStorage.get(this.passwordName, '')
      if (!this.document.encrypted || this.password == '' || !this.decrypt()) {
        $('#decryptModal').modal({ show: true, keyboard: false })
        $('#decryptionPasswordInput').focus()
      }
    },

    // attempts to decrypt the document, returns bool
    decrypt: function() {
      var success = true
      if (this.document.blocks) {
        for (var i in this.document.blocks) {
          if (this.document.blocks[i]['encrypted']) {
            var hmac = this.document.blocks[i]['content'].substring(0, 64)
            var cipher = this.document.blocks[i]['content'].substring(64)
            try {
              var plainHmac = CryptoJS.HmacSHA256(cipher, CryptoJS.SHA256(this.password)).toString();
              var plain = CryptoJS.AES.decrypt(cipher, this.password).toString(CryptoJS.enc.Utf8)
              if (hmac == plainHmac) {
                this.document.blocks[i].content = plain
                this.document.blocks[i].locked = false
              } else {
                success = false
              }
            }
            catch
            {
              success = false
            }
          }
        }
      }
      if (success) {
        $('#decryptModal').modal('hide')
      } else {
        this.decryptionError = 'Incorrect password.'
      }
      return success
    }
  }
}
</script>
