<template lang='pug'>
div
  div(v-if='currentStatus.id')
    statuses-edit(:status='currentStatus' @close='closeStatus()')

  div(v-else='')
    .alert.alert-danger.alert-dimissable.fade.show.mb-3(v-if='errorMessage')
      span(v-html='errorMessage')
      button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;

    .row.m-0
      .col-9.p-0.form-group.pr-md-2
        input#status.form-control(type='text' name='status' v-model='statusToAdd' placeholder='Name of the status' ref='statusInput')
      .col-3.p-0
        button.btn.btn-primary.btn-block(:class='{ disabled: isAddingStatus }' @click.prevent='addStatus')
          div(v-show='isAddingStatus')
            span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
            | Adding...
          div(v-show='!isAddingStatus')
            | Add Status

    div(v-if='isLoading')
      .ph-item
        .ph-col-12
          .ph-row
            .ph-col-4.big
            .ph-col-6.big.empty
            .ph-col-2.big
          .ph-row
            .ph-col-2.big
            .ph-col-8.big.empty
            .ph-col-2.big
          .ph-row
            .ph-col-6.big
            .ph-col-4.big.empty
            .ph-col-2.big

    div(v-else-if='statuses == 0')
      p.text-muted.font-italic
        | No statuses found.

    div(v-else='')
      ul.list-group
        li.list-group-item(v-for='(status, index) in statuses' :key='status.id' :status='status')
          .d-flex.justify-content-between.align-items-center
            a(href='#' @click.prevent='openStatus(status)')
              | {{ status.name }}
            div
              span.mr-4.text-muted(v-if='status.watermark')
                i.fas.fa-stamp
              a.btn.btn-danger(href='#' @click.prevent='removeStatus(index)')
                i.fas.fa-trash
</template>

<script>
import Axios from 'axios'

export default {
  props: {
    url: {
      type: String
    },
    statusList: {
      type: Array
    },
    owner_id: {
      type: Number
    },
    owner_type: {
      type: String
    },
    hashNavigation: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      currentStatus: {},
      statuses: [],
      statusToAdd: '',
      isAddingStatus: false,
      errorMessage: '',
      isLoading: true
    }
  },
  methods: {
    addStatus() {
      this.isAddingStatus = true;
      this.errorMessage = ''
      let params = {
        status: { name: this.statusToAdd }
      }
      if (this.owner_id && this.owner_type) {
        params.status.owner_id = this.owner_id
        params.status.owner_type = this.owner_type
      }
      return Axios
        .post('/statuses.json', params)
        .then(response => {
          this.statuses.push({
            name: response.data.name,
            id: response.data.id
          });
          this.statusToAdd = '';
          this.isAddingStatus = false;
        })
        .catch(error => {
          this.isAddingStatus = false;
          this.errorMessage = error
        });
    },
    removeStatus(index) {
      this.errorMessage = ''
      var id = this.statuses[index].id
      this.statuses.splice(index, 1);
      return Axios
        .delete(`/statuses/${id}.json`)
        .then(response => { })
        .catch(error => {
          this.errorMessage = error
        });
    },
    openStatus(status) {
      this.currentStatus = status
      if (this.hashNavigation == true) {
        history.pushState(null, null, `#${status.id}`)
      }
    },
    closeStatus() {
      this.currentStatus = {}
      if (this.hashNavigation == true) {
        history.pushState(null, null, `#`)
      }
    }
  },
  watch: {
    statusList: function() {
      this.statuses = this.statusList
    }
  },
  created() {
    var that = this

    let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
    Axios.defaults.headers.common['X-CSRF-Token'] = token
    Axios.defaults.headers.common['Accept'] = 'application/json'

    if (this.url) {
      Axios
        .get(this.url)
        .then(response => {
          that.statuses = response.data
          that.isLoading = false
        })
        .catch(error => {
          that.errorMessage = error
          that.isLoading = false
        });
    } else if (this.statusList) {
      this.statuses = this.statusList
      this.isLoading = false
    } else {
      that.isLoading = false
    }
  }
}
</script>
