<template lang='pug'>
div
  h4.text-center.text-muted.mb-3 Edit status {{ status.name }}

  //- messages
  .alert.alert-danger.alert-dimissable.fade.show.mb-3(v-if='error')
    span(v-html='error')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;
  .alert.alert-success.alert-dimissable.fade.show.mb-3(v-if='notice')
    span(v-html='notice')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;

  //- form
  .form-row
    .form-group.col-md-12
      label(for='statusName') Name
      input.form-control#statusName(type='text', v-model='status.name', :disabled='saving')

  .form-row
    .form-group.col-md-12
      label Watermark
      .custom-control.custom-switch
        input.custom-control-input#statusWatermark( type='checkbox' v-model='status.watermark' )
        label.custom-control-label( for='statusWatermark' )
  
  .mt-5
    button.btn.btn-primary( href='#' @click.prevent='save()', :disabled='saving' )
      span(v-show='saving')
        span.spinner-border.spinner-border-sm.mr-2(aria-hidden='true')
      | Save
    button.btn.btn-link(@click.prevent='close()', :disabled='saving') Back

</template>

<script>
import Axios from 'axios'

export default {
  props: {
    status: {
      type: Object,
      required: false,
      default: () => { return { name: '' } },
    }
  },
  data() {
    return {
      saving: false,
      error: '',
      notice: ''
    }
  },
  methods: {
    close() {
      this.$emit('close')
    },
    save() {
      this.saving = true
      this.error = ''
      this.notice = ''
      var that = this
      let params = { status: this.status }
      return Axios
        .patch(`/statuses/${this.status.id}.json`, params)
        .then(response => {
          that.saving = false
          that.notice = 'Status has been saved'
        })
        .catch(error => {
          that.saving = false
          try {
            that.error = JSON.parse(error.response.data)
          }
          catch {
            that.error = error
          }
        });
    }
  }
}
</script>
