<template lang='pug'>
div
  div(v-if='currentRole.id')
    roles-show(:role='currentRole' @close='closeRole()')

  div(v-else='')

    //- messages
    .alert.alert-danger.alert-dimissable.fade.show.mb-3(v-if='error')
      span(v-html='error')
      button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;
    .alert.alert-success.alert-dimissable.fade.show.mb-3(v-if='notice')
      span(v-html='notice')
      button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;

    .mb-5.text-muted
      p
        | Roles are used to grant access to resources. A role consist of several #[em privileges]
        | which defines #[em verbs] that a subject (such as a user) can perform on a #[em object]
        | (such as a document).
      p
        | Users can assign roles to their documents and teams to grant other users access to those documents or teams.

    //- form
    .mb-5
      .form-group.row
        .col-sm-8
          input.form-control(type='text' v-model='roleToAdd.name' :class='{ disabled: adding }' placeholder='Name of the role')
        .col-sm-4
          button.btn.btn-block.btn-primary(:class='{ disabled: adding }' @click.prevent='addRole')
            div(v-show='adding')
              span.spinner-border.spinner-border-sm(role='role' aria-hidden='true')
              | Adding...
            div(v-show='!adding') Add Role

    //- loading indicator
    div(v-if='loading')
      .ph-item
        .ph-col-12
          .ph-row
            .ph-col-4.big
            .ph-col-6.big.empty
            .ph-col-2.big
          .ph-row
            .ph-col-2.big
            .ph-col-8.big.empty
            .ph-col-2.big
          .ph-row
            .ph-col-6.big
            .ph-col-4.big.empty
            .ph-col-2.big

    //- nothing found
    div(v-else-if='roles == 0')
      p.text-muted.font-italic No roles found.

    //- list
    div(v-else='')
      ul.list-group
        li.list-group-item(v-for='(role, index) in roles' :key='role.id' :role='role')
          .d-flex.align-items-center
            .flex-grow-1
              a(href='#' @click.prevent='openRole(role)')
                | {{ role.name }}
            div
              a.btn.btn-danger(href='#' @click.prevent='removeRole(index)')
                i.fas.fa-trash

</template>

<script>
import Axios from 'axios'
import { library } from '@fortawesome/fontawesome-svg-core'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default {
  props: ['url'],
  data() {
    return {
      roles: [],
      currentRole: {},
      roleToAdd: {
        name: ''
      },
      adding: false,
      error: '',
      notice: '',
      loading: true
    }
  },
  methods: {
    
    addRole() {
      this.adding = true
      this.error = ''
      this.notice = ''
      var that = this
      let params = { role: this.roleToAdd }
      return Axios
        .post('/roles.json', params)
        .then(response => {
          that.roles.push(response.data)
          that.roleToAdd = {}
          that.adding = false
          that.notice = 'Role has been created'
        })
        .catch(error => {
          that.adding = false
          that.error = error
        });
    },
    removeRole(index) {
      this.error = ''
      this.notice = ''
      var id = this.roles[index].id
      this.roles.splice(index, 1);
      var that = this
      return Axios
        .delete(`/roles/${id}.json`)
        .then(response => {
          that.notice = 'Role was deleted'
        })
        .catch(error => {
          that.error = error
        });
    },
    openRole(role) {
      this.currentRole = role
      history.pushState(null, null, `#${role.id}`)
    },
    closeRole() {
      this.currentRole = {}
      history.pushState(null, null, `#`)
    }
  },
  created() {
    var that = this

    let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
    Axios.defaults.headers.common['X-CSRF-Token'] = token
    Axios.defaults.headers.common['Accept'] = 'application/json'

    if (this.url) {
      Axios
        .get(this.url)
        .then(response => {
          that.roles = response.data
          that.loading = false
          if (window.location.hash && that.roles.length > 0) {
            let id = window.location.hash.match(/\d+/) | 0
            let i = that.roles.map(x => x.id).indexOf(id)
            if (i >= 0 && i < this.roles.length) {
              that.currentRole = that.roles[i]
            }
          }
        })
        .catch(error => {
          that.error = error
          that.loading = false
        });
    } else {
      that.loading = false
    }
  }
}
</script>
