<template lang='pug'>
div
  h4.text-center.text-muted.mb-3 Edit role {{ role.name }}

  //- messages
  .alert.alert-danger.alert-dimissable.fade.show.mb-3(v-if='error')
    span(v-html='error')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;
  .alert.alert-success.alert-dimissable.fade.show.mb-3(v-if='notice')
    span(v-html='notice')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;

  //- form
  .form-group
    label(for='roleName') Name
    input.form-control#roleName(type='text', v-model='role.name', :disabled='saving')

  .mt-5
    h5.text-muted.text-uppercase Privileges
    .mb-3.text-muted
      p
        | Privileges control what a role is allowed to do. A privilege defines a single #[em verb]
        | on a single #[em resource].
        | Here you can manage privileges tied to this role.

  .form-row
    .form-group.col-md-5
      label(for='privilegeName') Verb
      select.custom-select( v-model='privilegeToAdd.verb' )
        option(value='show') Show
        option(value='edit') Edit
        option(value='destroy') Delete
    .form-group.col-md-5
      label(for='privilegeName') Resource
      select.custom-select( v-model='privilegeToAdd.resource' )
        option Document
        option Team
    .form-group.col-md-2
      label &nbsp;
      button.btn-block.btn.btn-primary( href='#' @click.prevent='addPrivilege()' ) Add
  

  div(v-if='role.privileges == 0')
    p.text-muted.font-italic No privileges found.

  //- list
  div(v-else='')
    ul.list-group
      li.list-group-item(v-for='(privilege, index) in role.privileges' :key='privilege.id' :privilege='privilege')
        .row.d-flex.align-items-center
          .col-4 {{ verbToHuman(privilege.verb) }}
          .col-4 {{ privilege.resource }}
          .col-4.text-right
            a.btn.btn-danger(href='#' @click.prevent='removePrivilege(index)')
              i.fas.fa-trash

  .mt-5
    button.btn.btn-primary( href='#' @click.prevent='save()', :disabled='saving' )
      span(v-show='saving')
        span.spinner-border.spinner-border-sm.mr-2(aria-hidden='true')
      | Save
    button.btn.btn-link(@click.prevent='close()', :disabled='saving') Back

</template>

<script>
import Axios from 'axios'

export default {
  props: {
    role: {
      type: Object,
      required: false,
      default: () => { return { name: '', privileges: [] } },
    }
  },
  data() {
    return {
      privilegeToAdd: {
        verb: 'edit',
        resource: 'Team'
      },
      adding: false,
      saving: false,
      error: '',
      notice: ''
    }
  },
  methods: {
    
    addPrivilege() {
      this.adding = true
      this.error = ''
      this.notice = ''
      var that = this
      let params = { privilege: this.privilegeToAdd }
      return Axios
        .post(`/roles/${this.role.id}/privileges.json`, params)
        .then(response => {
          that.role.privileges.push(response.data)
          that.privilegeToAdd = {
            verb: 'edit',
            resource: 'Team'
          }
          that.adding = false
          that.notice = 'Privilege has been created'
        })
        .catch(error => {
          that.adding = false
          that.error = error
        });
    },
    removePrivilege(index) {
      this.error = ''
      this.notice = ''
      var id = this.role.privileges[index].id
      this.role.privileges.splice(index, 1);
      var that = this
      return Axios
        .delete(`/roles/${this.role.id}/privileges/${id}.json`)
        .then(response => {
          that.notice = 'Privilege was deleted'
        })
        .catch(error => {
          that.error = error
        });
    },
    verbToHuman(verb) {
      switch (verb) {
        case 'show':
          return 'Show'
        case 'edit':
          return 'Edit'
        case 'destroy':
          return 'Delete'
      }
    },
    close() {
      this.$emit('close')
    },
    save() {
      this.saving = true
      this.error = ''
      this.notice = ''
      var that = this
      let params = { role: this.role }
      return Axios
        .patch(`/roles/${this.role.id}.json`, params)
        .then(response => {
          that.saving = false
          that.notice = 'Role has been saved'
        })
        .catch(error => {
          that.saving = false
          that.error = error
        });
    }
  },
  created() {
  }
}
</script>
