<template lang='pug'>
div
  h3.text-center.text-muted.mt-3.text-uppercase.font-weight-bold User settings
  div( v-show='isLoading' )
    .m-5.col-xl-8.mx-auto
      .ph-item
        .ph-col-12
          .row
            .col-6
              .ph-row
                .ph-col-12.big
            .col-6
              .ph-row
                .ph-col-12.big
          .row
            .col-6
              .ph-row
                .ph-col-12.big
          .row
            .col-12
              .ph-row
                .ph-col-12.big
      .ph-item
        .ph-col-12
          .row
            .col-6
              .ph-row
                .ph-col-12.big
            .col-6
              .ph-row
                .ph-col-12.big
          .row
            .col-6
              .ph-row
                .ph-col-12.big
            .col-6
              .ph-row
                .ph-col-12.big

  div( v-show='!isLoading' )
    .col-xl-8.mx-auto
      .alert.alert-danger.alert-dimissable.fade.show.mb-3( v-if='error' )
        span( v-html='error' )
        button.ml-2.close( type='button', data-dismiss='alert', aria-label='Close' )
          span(aria-hidden='true') &times;

    nav.nav.justify-content-center.nav-pills.mt-3#settingsTabs
      a.nav-link#profileTab( href='#profile', role='tab', @click.prevent="switchTab('#profile')",
        aria-controls='profile', aria-selected='false' ) Profile
      a.nav-link#classificationsTab( href='#classifications', role='tab', @click.prevent="switchTab('#classifications')",
        aria-controls='classifications', aria-selected='false' ) Classifications
      a.nav-link#statusesTab( href='#statuses', role='tab', @click.prevent="switchTab('#statuses')",
        aria-controls='statuses', aria-selected='false' ) Statuses
      a.nav-link#propertiesTab( href='#properties', role='tab', @click.prevent="switchTab('#properties')",
        aria-controls='properties', aria-selected='false' ) Properties
    .tab-content.m-5.col-xl-8.mx-auto
      .tab-pane#profile( role='tabpanel', aria-labelledby='profileTab' )
        slot
      .tab-pane#classifications( role='tabpanel', aria-labelledby='classificationsTab' )
        classifications-edit-list( :classificationList='user.classifications', :owner_id='user.id', owner_type='User' )
      .tab-pane#statuses( role='tabpanel', aria-labelledby='statusesTab' )
        edit-statuses( :statusList='user.statuses', :owner_id='user.id', owner_type='User' )
      .tab-pane#properties( role='tabpanel', aria-labelledby='propertiesTab' )
        edit-properties( :propertyList='user.properties', :owner_id='user.id', owner_type='User' )

</template>

<script>
import Axios from 'axios';
import Consumer from "channels/consumer";

export default {
  props: ['url', 'id'],
  data() {
    return {
      isLoading: true,
      error: '',
      user: {
        classifications: [],
        statuses: [],
        properties: []
      }
    }
  },
  methods: {
    switchTab(tab) {
      let el = $(`#settingsTabs a[href="${tab}"]`)
      if (el) {
        el.tab('show')
        history.pushState(null, null, tab)
      }
    }
  },
  created() {
    var that = this
    Consumer.subscriptions.create(
      { channel: "UserChannel", id: this.id },
      {
        connected() { },
        disconnected() { },
        received(data) { that.user = data.user; }
      }
    )

    Axios
      .get(this.url)
      .then(response => {
        that.user = response.data
        that.isLoading = false
      })
      .catch(error => {
        that.error = error
        that.isLoading = false
      });
  },
  mounted() {
    if (window.location.hash) {
      this.switchTab(window.location.hash)
    } else {
      this.switchTab('#profile')
    }
  }
}
</script>
