<template lang='pug'>
.d-flex.align-items-center
  a( :href='user.show_url' )
    img.rounded-circle.border.mr-2( :src='gravatar', alt='Avatar', width='24' )
    span {{ user.fullname }}
</template>

<script>
import gravatar from 'gravatar'

export default {
  props: {
    user: {
      type: Object,
      default: () => { return {} }
    },
  },
  computed: {
    gravatar() {
      return gravatar.url(this.user.email, { d: 'identicon' })
    }
  }
}
</script>
