<template>
  <div>
    <div v-if='isLoading'>
      <div class="ph-item">
        <div class='ph-col-12'>
          <div class="ph-row">
            <div class="ph-col-4 big"></div>
            <div class="ph-col-6 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-2 big"></div>
            <div class="ph-col-8 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if='users == 0'>
      <p class='text-muted font-italic'>
        No users found.
      </p>
    </div>
    <div v-else>
      <ul class='list-group'>
        <li
          class='list-group-item list-group-item-action'
          v-for='user in users'
          :key='user.id'
          :user='user'
        >
          <div class='d-flex justify-content-between align-items-center'>
            <a class='text-truncate' :href='user.show_url'>
              {{ user.fullname }}
            </a>
            <span class='text-nowrap'>
              <span class='d-none d-sm-inline text-muted'>
                {{ user.documents.length }}
                <i class='fas fa-file-alt ml-1'/>
              </span>
              <span class='d-none d-sm-inline ml-1 ml-md-3 text-muted'>
                {{ user.teams.length }}
                <i class='fas fa-users ml-1'/>
              </span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Axios from 'axios';
import Consumer from "channels/consumer";

export default {
  props: ['url', 'json'],
  data() {
    return {
      isLoading: true,
      users: []
    };
  },
  created() {
    var that = this;
    if (this.json) {
      this.users = JSON.parse(this.json);
      this.isLoading = false
    } else {
      Axios
        .get(that.url || '/users.json')
        .then(response => {
          that.users = response.data
          that.isLoading = false
        })
        .catch(error => console.error(error));
    }
  }
}
</script>
