<template lang='pug'>
li.nav-item.dropdown
  a.nav-link.dropdown-toggle( href='#', id='user-menu', role='button', data-toggle='dropdown',
                              aria-haspopup='true', aria-expanded='false' )
    img.rounded-circle.border( :src='gravatar', width=30, height=30, loading='eager', alt='Avatar' )
  .dropdown-menu.dropdown-menu-right( aria-labelledby='user-menu' )
    a.dropdown-item( :href='profile_path' ) Profile
    a.dropdown-item( :href='settings_path' ) Settings
    .dropdown-divider
    a.dropdown-item( :href='sign_out_path', data-method='delete' ) Sign out
</template>

<script>
import gravatar from 'gravatar'

export default {
  props: ['json', 'settings_path', 'sign_out_path', 'profile_path' ],
  data() {
    return {
      user: {}
    }
  },
  computed: {
    gravatar() {
      return gravatar.url(this.user.email, { d: 'identicon' })
    }
  },
  created() {
    this.user = JSON.parse(this.json)
  }
}
</script>
