<template>
  <div class='flex-grow-1' :class='{ active: isFocused }'>
    <code-toolbar
      :class='{ active: isFocused }'
      :block='block'
    />
    <textarea-autosize
      class='block-code px-2 pt-2 flex-grow-1'
      placeholder="foo = 42"
      v-model='block.content'
    />
  </div>
</template>

<script>
 
import Editable from 'components/Editable';
import CodeToolbar from './Toolbar.vue';

export default {
  props: ['block', 'isFocused'],
  components: {
    CodeToolbar,
    Editable
  }
}
</script>
