<template>
  <div>
    <div v-html="html"></div>
  </div>
</template>

<script>
import Axios from 'axios'

export default {
  props: ['block'],
  data() {
    return { html: '' }
  },
  computed: {
    content: function() { return this.block.content }
  },
  mounted() {
    this.code2html()
  },
  watch: {
    content: function() {
      this.code2html()
    }
  },
  methods: {
    code2html: function() {
      var that = this
      var buffer = new Buffer(this.block.content)
      var encodedContent = buffer.toString('base64')
      var language = this.block.kind
      Axios
      .get('/blocks/code2html.json', {
        params: {
          code: encodedContent,
          language: language
        }
      })
      .then(function(response) {
        that.html = response.data.html
      })
      .catch(error => console.log(error));
    } 
  }
}
</script>
