<template>
  <div class='block-toolbar-container'>
    <div class='block-toolbar btn-toolbar bg-light' role='toolbar'>
      <div class='dropdown'>
        <button
          ref='languageButton'
          class='btn btn-outline-secondary dropdown-toggle'
          type='button'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'>
          {{ languageToHuman }}
        </button>
        <div class='dropdown-menu'>
          <a
            v-for='(humanLang, lang) in languages'
            class='dropdown-item'
            href='#'
            @click.prevent='setLanguage(lang)'
            >
            {{ humanLang }}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

var languageMap = {
  c: 'C',
  cplusplus: 'C++',
  css: 'CSS',
  clojure: 'Clojure',
  delphi: 'Delphi',
  diff: 'Diff',
  erb: 'ERB',
  go: 'Go',
  groovy: 'Groovy',
  haml: 'HAML',
  html: 'HTML',
  json: 'JSON',
  java: 'Java',
  javascript: 'JavaScript',
  lua: 'Lua',
  php: 'PHP',
  python: 'Python',
  ruby: 'Ruby',
  sql: 'SQL',
  sass: 'SASS',
  text: 'Text',
  xml: 'XML',
  yaml: 'YAML'
}

export default {
  props: ['block'],
  computed: {
    languageToHuman: function (language) {
      return languageMap[this.block.kind];
    },
    languages: function () {
      return languageMap;
    }
  },
  methods: {
    setLanguage: function (language) {
      this.block.kind = language;
      this.$refs.languageButton.focus()
    }
  }
}
</script>
