%users-edit{ url: user_path(resource, format: :json), id: resource.id }

  = form_for(resource, as: resource_name, url: settings_path, html: { method: :put }) do |f|

    .form-row
      .form-group.col-md-6
        = f.label :username
        .input-group
          .input-group-prepend
            .input-group-text @
          = f.text_field :username, autofocus: true, autocomplete: 'username', class: 'form-control'

      .form-group.col-md-6
        = f.label :email
        = f.email_field :email, autocomplete: 'email', class: 'form-control'

    .form-row
      .form-group.col-md-6
        = f.label :fullname
        = f.text_field :fullname, autocomplete: 'fullname', class: 'form-control'

    .form-row
      .form-group.col-md-12
        = f.label :description
        = f.text_field :description, autocomplete: 'description', class: 'form-control'

    %h4.mt-5.mb-3 Location

    .form-row
      .form-group.col-md-6
        = f.label :company
        = f.text_field :company, autocomplete: 'company', class: 'form-control'

      .form-group.col-md-6
        = f.label :department
        = f.text_field :department, autocomplete: 'department', class: 'form-control'

    .form-row
      .form-group.col-md-6
        = f.label :time_zone
        = f.time_zone_select :time_zone, nil, {}, { class: 'custom-select' }

      .form-group.col-md-6
        = f.label :country
        = f.country_select :country, {}, class: 'custom-select'

    %h4.mt-5.mb-3 Links

    .form-row
      .form-group.col-md-6
        .input-group
          .input-group-prepend
            .input-group-text facebook.com/
          = f.text_field :facebook, autocomplete: 'facebook', class: 'form-control'

      .form-group.col-md-6
        .input-group
          .input-group-prepend
            .input-group-text twitter.com/
          = f.text_field :twitter, autocomplete: 'twitter', class: 'form-control'

    .form-row
      .form-group.col-md-6
        .input-group
          .input-group-prepend
            .input-group-text linkedin.com/in/
          = f.text_field :linkedin, autocomplete: 'linkedin', class: 'form-control'

      .form-group.col-md-6
        .input-group
          .input-group-prepend
            .input-group-text github.com/
          = f.text_field :github, autocomplete: 'github', class: 'form-control'

    .form-row
      .form-group.col-md-6
        .input-group
          .input-group-prepend
            .input-group-text gitlab.com/
          = f.text_field :gitlab, autocomplete: 'gitlab', class: 'form-control'

    .form-group
      = f.submit 'Save', class: 'btn btn-primary'
