<template>
  <div class='flex-grow-1' :class='{ active: isFocused }'>
    <paragraph-toolbar
      :class='{ active: isFocused }'
      :block='block'
      :isBold='isBold'
      :isItalic='isItalic'
      :isStrike='isStrike'
    />
    <div :class='kindClass'>
      <h4 class='text-uppercase' v-if='block.kind != ""'>
        <span :class='kindIcon'/>
        {{ block.kind | capitalize }}
      </h4>
      <editable
        class='editable p-2 flex-grow-1'
        v-model='block.content'
        ref='editable'
        @formatChange='formatChange'
      />
    </div>
  </div>
</template>

<script>
 
import Editable from 'components/Editable';
import ParagraphToolbar from './Toolbar.vue';

export default {
  props: ['block', 'isFocused'],
  components: {
    ParagraphToolbar,
    Editable
  },
  computed: {
    kindClass: function() {
      return 'paragraph-kind-' + this.block.kind || 'normal';
    },
    kindIcon: function() {
      switch (this.block.kind) {
        case 'tip':
          return 'far fa-lightbulb'
          break
        case 'note':
          return 'far fa-file-alt'
          break
        case 'warning':
          return 'fas fa-exclamation-triangle'
          break
      }
    }
  },
  data: function() {
    return {
      isBold: false,
      isItalic: false,
      isStrike: false
    };
  },
  methods: {
    formatChange: function(formats) {
      this.isBold = formats.isBold || false;
      this.isItalic = formats.isItalic || false;
      this.isStrike = formats.isStrike || false;
    }
  }
}
</script>
