.card-deck
  .card
    .card-header
      Version
    .card-body
      - @versions.each do |version|
        .row.py-2
          .col-6= version[:name]
          .col-6.text-monospace= version[:number]

  .card
    .card-header
      Users
      %span.badge.badge-secondary
        = @users.count
    %ul.list-group.list-group-flush
      - @users.order(:created_at).limit(5).each do |user|
        %li.list-group-item
          = link_to user.username, user

  .card
    .card-header
      Documents
      %span.badge.badge-secondary
        = @documents.count
    %ul.list-group.list-group-flush
      - @documents.order(:updated_at).limit(5).each do |doc|
        %li.list-group-item
          = link_to doc.title, doc

  .card
    .card-header
      Teams
      %span.badge.badge-secondary
        = @teams.count
    %ul.list-group.list-group-flush
      - @teams.order(:created_at).limit(5).each do |team|
        %li.list-group-item
          = link_to team.name, team
