<template lang="pug">
div
  .form-group
    label Copyright
    input.form-control( type='text', v-model='document.copyright', name='document[copyright]',
                        placeholder='Copyright notice' )
  .form-group
    label Classification
    select.form-control.custom-select#classification-select( v-model='classification_id'
        name='document[classification_id]' )
      option( value='-1' ) Unclassified
      option( v-for='c in document.classifications', :value='c.id') {{ c.name }}
  .form-group
    label Status
    select.form-control.custom-select#status-select( v-model='status_id'
        name='document[status_id]' )
      option( value='-1' ) No status
      option( v-for='s in document.statuses', :value='s.id') {{ s.name }}
  properties-assign( :document='document' )
</template>
<script>
import Axios from 'axios';

export default {
  props: ['document'],
  computed: {
    classification_id: {
      get() {
        if (this.document.classification)
          return this.document.classification.id
        else
          return '-1'
      },
      set(value) {
        if (this.document.classification)
          this.document.classification.id = value
      }
    },
    status_id: {
      get() {
        if (this.document.status)
          return this.document.status.id
        else
          return '-1'
      },
      set(value) {
        if (this.document.status)
          this.document.status.id = value
      }
    }
  }
};
</script>
