<template lang="pug">
div
  .form-group
    label Visibility
    select.form-control.custom-select( v-model='document.visibility', name='document[visibility]' )
      option( value='public' ) Public
      option( value='private' ) Private
  .form-group
    label Encrypted
    .custom-control.custom-switch
      input.custom-control-input#encrypted( type='checkbox', v-model='document.encrypted' )
      label.custom-control-label( for='encrypted' )
  .form-group( v-if='document.encrypted' )
    label Passphrase
    input.form-control( ref='password', :value='password', type='password', @input='updatePassword()' )
  .form-group
    label Dynamic content
    .custom-control.custom-switch
      input( type='hidden' name='document[dynamic]' value='false' )
      input.custom-control-input#dynamic( type='checkbox' v-model='document.dynamic' name='document[dynamic]' value='true' )
      label.custom-control-label( for='dynamic' )
  .form-group( v-if='document.dynamic' )
    label Data source
    .row
      .col-4
        select.custom-select( v-model='dynamicDataType' )
          option URL
          option String
      .col-8
        input( type='hidden' value='' v-if='dynamicDataType == "URL"' name='document[data_string]' )
        input.form-control( v-model='document.data_url' type='url' name='document[data_url]'
                            placeholder='http://example.com/data.json' v-if='dynamicDataType == "URL"' )

        input( type='hidden' value='' v-if='dynamicDataType == "String"' name='document[data_url]' )
        input.form-control( v-model='document.data_string' type='text' name='document[data_string]'
                            placeholder='{ "example": ["json", "data"] }' v-if='dynamicDataType == "String"' )
</template>
<script>
import Axios from 'axios';

export default {
  props: ['document', 'password'],

  data: function() {
    return {
      dynamicDataType: 'URL'
    }
  },

  methods: {
    updatePassword() {
      this.$emit('input', this.$refs)
    },
    refreshDataType() {
      if (this.document.data_url) {
        this.dynamicDataType = 'URL'
      } else {
        this.dynamicDataType = 'String'
      }
    }
  },
  mounted() {
    this.refreshDataType()
  },
  watch: {
    'document.dynamic': function() {
      this.refreshDataType()
    }
  }
};
</script>
