<template>
  <div class="autocomplete position-relative">
    <input
      type="text"
      class='form-control'
      data-toggle='dropdown'
      :disabled='disabled'
      @input="onChange"
      @focus="onChange"
      v-model="displayValue"
      @keydown.down="onArrowDown"
      @keydown.up="onArrowUp"
      @keydown.enter.prevent="onEnter"
    />
    <ul
      id="autocomplete-results"
      v-show="isOpen || isLoading"
      class="dropdown-menu w-100"
    >
      <li
        v-if="isLoading"
        class='dropdown-item disabled'
      >
        Searching...
      </li>
      <li
        v-if="results.length == 0 && !isLoading"
        class='dropdown-item disabled'
      >
        No matches found.
      </li>
      <li
        v-else
        v-for="(result, i) in results"
        :key="i"
        @click="setResult(result)"
        class="dropdown-item"
        :class="{ 'active': i === arrowCounter }"
      >
        {{ renderResult(result) }}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'autocomplete',

    props: {
      disabled: {
        type: Boolean,
        default: false
      },
      items: {
        type: Array,
        required: false,
        default: () => [],
      },
      isAsync: {
        type: Boolean,
        required: false,
        default: false,
      },
      getResults: {
        type: Function,
        required: false
      },
      displayKey: {
        type: String,
        required: false,
        default: 'name'
      }
    },

    data() {
      return {
        isOpen: false,
        results: [],
        value: '',
        displayValue: '',
        isLoading: false,
        arrowCounter: 0,
      };
    },

    methods: {
      onChange() {
        this.isLoading = true;
        this.isOpen = true;

        return this.getResults(this.displayValue)
          .then(results => {
            this.results = results;
            this.isLoading = false;
          })
          .catch(error => {
            console.error(error);
            this.results = [];
            this.isLoading = false;
          });
      },

      setResult(result) {
        this.value = result;
        this.displayValue = this.renderResult(result);
        this.isOpen = false;
      },
      renderResult(result) {
        if (typeof result == 'string')
          return result;
        else
          return result[this.displayKey];
      },
      onArrowDown(evt) {
        if (this.arrowCounter < this.results.length-1) {
          this.arrowCounter = this.arrowCounter + 1;
        }
      },
      onArrowUp() {
        if (this.arrowCounter > 0) {
          this.arrowCounter = this.arrowCounter -1;
        }
      },
      onEnter() {
        this.setResult(this.results[this.arrowCounter]);
        this.arrowCounter = -1;
      },
      handleClickOutside(evt) {
        if (!this.$el.contains(evt.target)) {
          this.isOpen = false;
          this.arrowCounter = -1;
        }
      }
    },
    watch: {
      value() {
        this.$emit('input', this.value);
      }
    },
    mounted() {
      document.addEventListener('click', this.handleClickOutside)
    },
    destroyed() {
      document.removeEventListener('click', this.handleClickOutside)
    }
  };
</script>
