<template>
  <div>

    <!-- messages -->
    <div class='alert alert-danger alert-dimissable fade show mb-3' v-if='error'>
      <span v-html='error'></span>
      <button type='button' class='ml-2 close' data-dismiss='alert' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
      </button>
    </div>
    <div class='alert alert-success alert-dimissable fade show mb-3' v-if='notice'>
      <span v-html='notice'></span>
      <button type='button' class='ml-2 close' data-dismiss='alert' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
      </button>
    </div>

    <!-- form -->
    <div class='mb-5'>
      <div class='form-group row'>
        <label for='propertyName' class='col-sm-2 col-form-label'>Name</label>
        <div class='col-sm-6'>
          <input type='text' class='form-control' v-model='propertyToAdd.name' :class='{ disabled: isAdding }'
                 placeholder='Name of the property' />
        </div>
      </div>

      <div class='form-group row'>
        <label for='propertyDescription' class='col-sm-2 col-form-label'>Description</label>
        <div class='col-sm-10'>
          <input type='text' class='form-control' v-model='propertyToAdd.description'
                 placeholder='A short description of the property' :class='{ disabled: isAdding }' />
        </div>
      </div>

      <div class='form-group row'>
        <label for='propertyKind' class='col-sm-2 col-form-label'>Kind</label>
        <div class='col-sm-4'>
          <select id='propertyKind' class='custom-select' :class='{ disabled: isAdding }'
                  v-model='propertyToAdd.kind'>
            <option>String</option>
            <option>Boolean</option>
            <option>Integer</option>
            <option>Enum</option>
          </select>
        </div>
      </div>

      <div class='form-group row' v-if="propertyToAdd.kind == 'Enum'">
        <label for='propertyOptions' class='col-sm-2 col-form-label'>Options</label>
        <div class='col-sm-10'>
          <input type='text' class='form-control' v-model='propertyToAdd.options'
                 :class='{ disabled: isAdding }' placeholder="['One', 'Two']"/>
        </div>
      </div>

      <div class='form-group row'>
        <label for='propertyDefault' class='col-sm-2 col-form-label'>Default value</label>
        <div class='col-sm-4'>
          <input type='text' class='form-control' v-model='propertyToAdd.default'
                 :class='{ disabled: isAdding }' placeholder='Default value of the property' />
        </div>
      </div>

      <div class='form-group row'>
        <div class='col-sm-4'>
          <button class='btn btn-primary' :class='{ disabled: isAdding }' @click.prevent='addProperty'>
            <div v-show='isAdding'>
              <span class="spinner-border spinner-border-sm" role="property" aria-hidden="true"></span>
              Adding...
            </div>
            <div v-show='!isAdding'>
              Add Property
            </div>
          </button>
        </div>
      </div>
    </div>

    <!-- loading indicator -->
    <div v-if='isLoading'>
      <div class="ph-item">
        <div class='ph-col-12'>
          <div class="ph-row">
            <div class="ph-col-4 big"></div>
            <div class="ph-col-6 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-2 big"></div>
            <div class="ph-col-8 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- nothing found -->
    <div v-else-if='properties == 0'>
      <p class='text-muted font-italic'>
        No properties found.
      </p>
    </div>

    <!-- list -->
    <div v-else>
      <ul class='list-group'>
        <li class='list-group-item' v-for="(property, index) in properties" :key="property.id" :property="property">
          <div class='d-flex align-items-center'>
            <div class='flex-grow-1'>
              <a href='#' @click.prevent='toggleProperty(index)' class='text-body no-underline'>
                <font-awesome-icon v-if='property.expanded' icon='angle-down' fixed-width />
                <font-awesome-icon v-else icon='angle-right' fixed-width />
                {{ property.name }}
              </a>
            </div>
            <div>
              <span v-if='property.expanded'>
                <a class='btn btn-primary' :class='{ disabled: property.isSaving }' href='#'
                   @click.prevent='saveProperty(index)'>
                  <div v-show='property.isSaving'>
                    <span class="spinner-border spinner-border-sm" role="property" aria-hidden="true"></span>
                    Save
                  </div>
                  <div v-show='!property.isSaving'>
                    <i class='fas fa-save'/>
                    Save
                  </div>
                </a>
              </span>
              <span>
                <a class='btn btn-danger' href='#' @click.prevent='removeProperty(index)'>
                  <i class='fas fa-trash'/>
                </a>
              </span>
            </div>
          </div>

          <div class='collapse' :ref="'itemForm' + index">
            <div class='alert alert-danger alert-dimissable fade show my-3' v-if='property.error'>
              <span v-html='property.error'></span>
              <button type='button' class='ml-2 close' data-dismiss='alert' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
              </button>
            </div>
            <div class='alert alert-success alert-dimissable fade show my-3' v-if='property.notice'>
              <span v-html='property.notice'></span>
              <button type='button' class='ml-2 close' data-dismiss='alert' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
              </button>
            </div>
            <div class='form-group row mt-3'>
              <label class='col-sm-2 col-form-label'>Name</label>
              <div class='col-sm-6'>
                <input type='text' class='form-control' v-model='property.name'
                       :class='{ disabled: property.isSaving }' />
              </div>
            </div>
            <div class='form-group row'>
              <label class='col-sm-2 col-form-label'>Description</label>
              <div class='col-sm-10'>
                <input type='text' class='form-control' v-model='property.description'
                       :class='{ disabled: property.isSaving }' />
              </div>
            </div>
            <div class='form-group row'>
              <label for='propertyKind' class='col-sm-2 col-form-label'>Kind</label>
              <div class='col-sm-4'>
                <select id='propertyKind' class='custom-select' v-model='property.kind'
                        :class='{ disabled: property.isSaving }'>
                  <option>String</option>
                  <option>Boolean</option>
                  <option>Integer</option>
                  <option>Enum</option>
                </select>
              </div>
            </div>
            <div class='form-group row' v-if="property.kind == 'Enum'">
              <label for='propertyOptions' class='col-sm-2 col-form-label'>Options</label>
              <div class='col-sm-10'>
                <input type='text' class='form-control' v-model='property.options'
                       :class='{ disabled: property.isSaving }' />
              </div>
            </div>
            <div class='form-group row'>
              <label for='propertyDefault' class='col-sm-2 col-form-label'>Default value</label>
              <div class='col-sm-4'>
                <input type='text' class='form-control' v-model='property.default'
                       :class='{ disabled: property.isSaving }' />
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faAngleDown, faAngleRight } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faAngleDown)
library.add(faAngleRight)

export default {
  props: ['url', 'propertyList', 'owner_id', 'owner_type'],
  components: { FontAwesomeIcon },
  data() {
    return {
      properties: [],
      propertyToAdd: {
        kind: 'String'
      },
      isAdding: false,
      error: '',
      notice: '',
      isLoading: true
    }
  },
  methods: {
    
    addProperty() {
      this.isAdding = true
      this.error = ''
      this.notice = ''
      var that = this
      let params = { property: this.propertyToAdd }
      if (this.owner_id && this.owner_type) {
        params.property.owner_id = this.owner_id
        params.property.owner_type = this.owner_type
      }
      return Axios
        .post('/properties.json', params)
        .then(response => {
          response.data['expanded'] = false
          response.data['isSaving'] = false
          response.data['error'] = ''
          response.data['notice'] = ''
          that.properties.push(response.data)
          that.propertyToAdd = {}
          that.isAdding = false
          that.notice = 'Property has been created'
        })
        .catch(error => {
          that.isAdding = false
          that.error = error
        });
    },
    removeProperty(index) {
      this.error = ''
      this.notice = ''
      var id = this.properties[index].id
      this.properties.splice(index, 1);
      var that = this
      return Axios
        .delete(`/properties/${id}.json`)
        .then(response => {
          that.notice = 'Property was deleted'
        })
        .catch(error => {
          that.error = error
        });
    },
    saveProperty(index) {
      let prop = this.properties[index]

      prop.error = ''
      prop.notice = ''
      prop.isSaving = true

      return Axios
        .put(`/properties/${prop.id}.json`, { property: prop })
        .then(response => {
          prop.notice = 'Property has been saved'
          prop.isSaving = false
        })
        .catch(error => {
          prop.error = error
          prop.isSaving = false
        });
    },
    toggleProperty(index) {
      let prop = this.properties[index]
      let el = this.$refs[`itemForm${index}`]
      if (prop.expanded) {
        $(el).collapse('hide')
        prop.expanded = false
      } else {
        $(el).collapse('show')
        prop.expanded = true
      }
    },
    initProperties(propList) {
      let initProps = []
      let i
      for (i = 0; i < propList.length; i++) {
        initProps.push(Object.assign({
          expanded: false,
          isSaving: false,
          error: '',
          notice: ''
        }, propList[i]))
      }
      return initProps
    }
  },
  watch: {
    propertyList: function() {
      this.properties = this.initProperties(this.propertyList)
    }
  },
  created() {
    var that = this

    let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
    Axios.defaults.headers.common['X-CSRF-Token'] = token
    Axios.defaults.headers.common['Accept'] = 'application/json'

    if (this.url) {
      Axios
        .get(this.url)
        .then(response => {
          that.properties = that.initProperties(response.data)
          that.isLoading = false
        })
        .catch(error => {
          that.error = error
          that.isLoading = false
        });
    } else if (this.propertyList) {
      this.properties = this.initProperties(this.propertyList)
      this.isLoading = false
    } else {
      that.isLoading = false
    }
  }
}
</script>
