<template>
  <div
    contenteditable
    :is='element'
    @input="updateInput"
    @focusin="focusin"
    @focusout="focusout"
  >
  </div>
</template>

<script>
import { nodeWalk } from '../Helpers.js';

// Get whether the selection is formatted
//
// Format can be either "bold", "italic" or "strikethrough".
//
// NOTE: Currently we only check the selection end (focus)
function isSelectionFormatted(element, format) {
  var selection = window.getSelection();
  var node = selection.anchorNode;

  // check if element is even selected
  if (node != element && !element.contains(node)) {
    return false;
  }

  // try to get the computed style of the parent element
  try {
    var style = window.getComputedStyle(node.parentElement);

    switch (format) {
      case "bold":
        var weight = style.fontWeight;
        return (weight == 'bold' || weight == '700');
      case "italic":
        return (style.fontStyle == 'italic');
      case "strike":
      case "strikethrough":
        var decorations = style.textDecoration.split(' ');
        return decorations.includes('line-through');
      default:
        console.error("Unknown format: " + format);
        return false;
    }

  }
  catch (error) {
    console.error("Error checking format of selection");
    console.error(error);
    return false;
  }
}

// Get the start and end of the selection, after flattening out all the nested
// elements inside the selected element.
function getSelection(element) {
  var selection = window.getSelection();
  var selectionStart = -1;
  var selectionEnd = -1;

  if (selection.anchorNode == element) {
    selectionStart = selection.anchorOffset
    selectionEnd = selection.focusOffset
  }
  else // nested elements
  {
    // check if the selection is inside element
    if (!element.contains(selection.anchorNode) ||
        !element.contains(selection.focusNode)) {
      return undefined;
    }

    // look for anchor and focus (start and end)
    //
    // during the search we count the text
    var foundAnchor = false;
    var foundFocus = false;

    nodeWalk(element, function(node) {

      // every non text node counts as 1
      if (!node.textContent || node.firstChild) {
        if (!foundAnchor)
          selectionStart += 1
        if (!foundFocus)
          selectionEnd += 1
      }

      // console.log('')
      // console.log(node)
      // console.log(`selectionStart: ${selectionStart}`)
      // console.log(`selectionEnd: ${selectionEnd}`)

      if (node == selection.anchorNode)
        foundAnchor = true;

      if (node == selection.focusNode)
        foundFocus = true;

      // console.log(`foundAnchor: ${foundAnchor}`)
      // console.log(`foundFocus: ${foundFocus}`)

      // found both, so we are done
      if (foundAnchor && foundFocus)
        return false;

      // if the node is text, we count it
      if (node.textContent && !node.firstChild) {
        // console.log(`text element, add length ${node.textContent.length}`)
        if (!foundAnchor)
          selectionStart += node.textContent.length;
        if (!foundFocus)
          selectionEnd += node.textContent.length;
      }

      // console.log(`new selectionStart: ${selectionStart}`)
      // console.log(`new selectionEnd: ${selectionEnd}`)
        
    });

    // console.log('finished node walk into element, time to add offset')
    selectionStart += selection.anchorOffset;
    selectionEnd += selection.focusOffset;
    // console.log(`final selectionStart: ${selectionStart}`)
    // console.log(`final selectionEnd: ${selectionEnd}`)
  }

  // return the selection
  return [selectionStart, selectionEnd].sort()
};

// Create a selection given the start and end
function setSelection(element, start, end) {

  var startElement = element;
  var endElement = element;
  var startOffset = 0;
  var endOffset = 0;

  // walk through all children of element, and increase offsets until they
  // reach start/end, then we stop and have found our nodes
  var foundAnchor = false;
  var foundFocus = false;

  nodeWalk(element, function(node) {

    if (!foundAnchor)
      startElement = node;
    if (!foundFocus)
      endElement = node;

    // if node is text, we count it
    if (node.textContent && !node.firstChild) {

      if (!foundAnchor && start + 1 <= node.textContent.length) {
        foundAnchor = true;
        startElement = node;
        startOffset = start + 1;
      }

      if (!foundFocus && end + 1 <= node.textContent.length) {
        foundFocus = true;
        endElement = node;
        endOffset = end + 1;
      }

      // found both, so we are done
      if (foundAnchor && foundFocus) {
        return false;
      }

      if (!foundAnchor)
        start -= node.textContent.length;

      if (!foundFocus)
        end -= node.textContent.length;
    }
    else {
      if (!foundAnchor)
        start -= 1
      if (!foundFocus)
        end -= 1
    }
  });

  // create the selection
  var range = document.createRange();
  range.setStart(startElement, startOffset);
  range.setEnd(endElement, endOffset);
  var selection = window.getSelection();
  selection.removeAllRanges();
  selection.addRange(range);
}

export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    element: {
      type: String,
      default: 'p'
    }
  },
  methods: {
    updateInput: function (event) {
      this.$emit('input', event.target.innerHTML);
    },
    focusin: function (event) {
      this.focused = true;
      this.$emit('focusin', event);
    },
    focusout: function (event) {
      this.focused = false;
      this.$emit('focusout', event);
    },
    refreshFormats: function (event) {
      this.isBold = isSelectionFormatted(this.$el, 'bold');
      this.isItalic = isSelectionFormatted(this.$el, 'italic');
      this.isStrike = isSelectionFormatted(this.$el, 'strike');
    },
    formatChange: function () {
      this.$emit('formatChange', {
        isBold: this.isBold,
        isItalic: this.isItalic,
        isStrike: this.isStrike
      });
    }
  },
  data: function () {
    return {
      content: '',
      focused: false,
      isBold: false,
      isItalic: false,
      isStrike: false
    };
  },
  mounted: function () {
    this.$el.innerHTML = this.value;
    document.addEventListener('selectionchange', this.refreshFormats);
  },
  watch: {
    element(e) {
      // carry over content to the new element
      this.$nextTick(function () {
        this.$el.innerHTML = this.value;
      });
    },
    value(v) {
      var el = this.$el;
      var selection = getSelection(el);
      this.$el.innerHTML = v;
      if (selection)
        setSelection(el, selection[0], selection[1]);
      this.refreshFormats();
    },
    isBold(v) { this.formatChange(); },
    isItalic(v) { this.formatChange(); },
    isStrike(v) { this.formatChange(); }
  }
}
</script>
