<template>
  <div class='p-0'>
    <div class='d-flex align-items-center'>
      <div class='my-pt-line flex-grow-1' :class='leftLineClass'></div>
      <div class='border rounded-circle p-2 my-pt-number' :class='numberClass'>
        <div v-if='finished'>
          <span><i class='fas fa-check'/></span>
        </div>
        <div v-else-if='doing'>
          <span><i class='fas fa-circle-notch fa-spin'/></span>
        </div>
        <div v-else>
          {{ number }}
        </div>
      </div>
      <div class='my-pt-line flex-grow-1' :class='rightLineClass'></div>
    </div>
    <div class='text-center pt-2'>
      {{ label }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'progress-tracker-step',

    props: {
      leftMost: {
        type: Boolean,
        default: false
      },
      rightMost: {
        type: Boolean,
        default: false
      },
      label: {
        type: String,
        default: 'My Step'
      },
      number: {
        type: Number,
        default: 0
      },
      finished: {
        type: Boolean,
        default: false
      },
      doing: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      leftLineClass: function() {
        if (this.leftMost)
          return ''
        if (this.finished)
          return 'bg-success'
        else
          return 'bg-light-gray'
      },
      rightLineClass: function() {
        if (this.rightMost)
          return ''
        if (this.finished)
          return 'bg-success'
        else
          return 'bg-light-gray'
      },
      numberClass: function() {
        if (this.finished)
          return 'border-success bg-success text-light'
        else
          return 'border-light-gray text-light-gray'
      }
    }
  };
</script>
