<template>
  <div class='row'>
    <progress-tracker-step
      v-for='(step, index) in steps'
      :key=index
      :class='stepClass'
      :number='index + 1'
      :leftMost='index == 0'
      :rightMost='index == steps.length - 1'
      :doing='index+1 == current'
      :finished='index+1 < current'
      :label='step.label'
    />
  </div>
</template>

<script>
  export default {
    name: 'progress-tracker',

    props: {
      steps: {
        type: Array,
        default: () => [ { label: 'Step 1' }, { label: 'Step 2' }, { label: 'Step 3' } ]
      },
      current: {
        type: Number,
        default: 0
      }
    },

    computed: {
      stepClass: function() {
        var columnsPerStep = Math.floor(12 / this.steps.length)
        return `col-${columnsPerStep}`
      }
    }
  };
</script>
