<template lang='pug'>
div
  nav.nav.justify-content-center.nav-pills
    a.nav-link( v-for='tab in tabs', :id="tab.name+'Tab'", role='tab', :href="'#'+tab.name",
               @click.prevent="switchTab('#'+tab.name)", aria-selected='false', :aria-controls='tab.name' )
      | {{ tab.label }}
    slot( name='links' )
  .tab-content.mt-3
    .tab-pane( v-for='tab in tabs', :id='tab.name', role='tabpanel' )
      slot( :name='tab.name' )
        div.alert.alert-warning Missing slot content for '{{ tab.label }}'
</template>

<script>
export default {
  name: 'tab-nav',

  props: {
    tabs: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    switchTab(tab) {
      let el = $(`a${tab}Tab`)
      if (el) {
        el.tab('show')
        history.pushState(null, null, tab)
      }
    }
  },
  mounted() {
    if (window.location.hash) {
      this.switchTab(window.location.hash)
    } else if (this.tabs.length > 0) {
      this.switchTab('#' + this.tabs[0]['name'])
    }
  }
}
</script>
