<template>
  <div>
    <div class='col-12 col-md-10 col-lg-8 col-xl-6 px-5 py-4 mx-auto text-center'>
      <img
        class='rounded-circle border'
        :src='gravatar'
      />
      <h3 class='mt-3'>{{ user.fullname }}</h3>

      <ul class='list-inline list-inline-separator text-muted mb-3 small'>
        <li class='list-inline-item'>
          @{{ user.username }}
        </li>
        <li class='list-inline-item'>
          Created {{ humanDate(user.created_at) }}
        </li>

        <li class='list-inline-item' v-if="user.company">
          <i class='fas fa-building' /> {{ user.company }}
        </li>

        <li class='list-inline-item' v-if="user.department">
          <i class='fas fa-users' /> {{ user.department }}
        </li>

        <li class='list-inline-item' v-if='user.admin'>
          <span class='badge badge-primary badge-pill'>
            <i class='fas fa-shield-alt' />
            admin
          </span>
        </li>
      </ul>

      <ul class='list-inline list-inline-separator text-muted mb-3 small' v-if='anyLinks'>
        <li class='list-inline-item' v-if='user.facebook'>
          <a :href='facebookLink' target='_blank'><i class='fab fa-facebook' /></a>
        </li>
        <li class='list-inline-item' v-if='user.twitter'>
          <a :href='twitterLink' target='_blank'><i class='fab fa-twitter' /></a>
        </li>
        <li class='list-inline-item' v-if='user.linkedin'>
          <a :href='linkedinLink' target='_blank'><i class='fab fa-linkedin' /></a>
        </li>
        <li class='list-inline-item' v-if='user.github'>
          <a :href='githubLink' target='_blank'><i class='fab fa-github' /></a>
        </li>
        <li class='list-inline-item' v-if='user.gitlab'>
          <a :href='gitlabLink' target='_blank'><i class='fab fa-gitlab' /></a>
        </li>
      </ul>

      <p class='lead'>{{ user.description }}</p>
    </div>

    <div class='col-12 px-5 py-4'>
      <div class='d-flex justify-content-between mb-2'>
        <h5>Documents</h5>
      </div>
      <p
        class='text-muted font-italic'
        v-if="user.documents == 0"
      >
        This user has no documents.
      </p>
      <ul class='list-group'>
        <li
          class='list-group-item'
          v-for="document in user.documents"
          :key="document.id"
          :document="document"
        >
          <div class='d-flex justify-content-between align-items-center'>
            <a :href='document.show_url'>
              {{ document.title }}
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class='col-12 px-5 py-4'>
      <div class='d-flex justify-content-between mb-2'>
        <h5>Teams</h5>
      </div>
      <p
        class='text-muted font-italic'
        v-if='user.teams == 0'
      >
        This user is not a member of any teams.
      </p>
      <ul class='list-group'>
        <li
          class='list-group-item'
          v-for="team in user.teams"
          :key="team.id"
          :team="team"
        >
          <div class='d-flex justify-content-between align-items-center'>
            <a :href='team.show_url'>
              {{ team.name }}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
import Consumer from "../channels/consumer"
import moment from 'moment'
import gravatar from 'gravatar'

export default {
  props: ['url', 'id'],
  computed: {
    user: {
      get: function() {
        return this.$root.$data.user;
      },
      set: function(v) {
        this.$root.$data.user = v;
      }
    },
    facebookLink() {
      return `https://facebook.com/${this.user.facebook}`
    },
    twitterLink() {
      return `https://twitter.com/${this.user.twitter}`
    },
    linkedinLink() {
      return `https://linkedin.com/in/${this.user.linkedin}/`
    },
    githubLink() {
      return `https://github.com/${this.user.github}`
    },
    gitlabLink() {
      return `https://gitlab.com/${this.user.gitlab}`
    },
    gravatar() {
      return gravatar.url(this.user.email, { d: 'identicon' })
    }
  },
  methods: {
    humanDate(date) {
      return moment(date).fromNow()
    },
    anyLinks() {
      return user.facebook ||
        user.twitter ||
        user.linkedin ||
        user.github ||
        user.gitlab
    }
  },
  created() {
    Consumer.subscriptions.create(
      { channel: "UserChannel", id: this.id },
      {
        connected() { },
  
        disconnected() { },
  
        received(data) { this.user = data.user; }
      }
    );

    Axios
      .get(this.url)
      .then(response => (this.user = response.data))
      .catch(error => console.log(error));
  }
}
</script>
