<template lang='pug'>
div
  h3.text-center.my-3.text-muted.text-uppercase.font-weight-bold
    | Edit team "{{ team.name }}"
  div( v-show='loading' )
    .m-5.col-xl-8.mx-auto
      .ph-item
        .ph-col-12
          .row
            .col-6
              .ph-row
                .ph-col-12.big
            .col-6
              .ph-row
                .ph-col-12.big
          .row
            .col-6
              .ph-row
                .ph-col-12.big
          .row
            .col-12
              .ph-row
                .ph-col-12.big
      .ph-item
        .ph-col-12
          .row
            .col-6
              .ph-row
                .ph-col-12.big
            .col-6
              .ph-row
                .ph-col-12.big
          .row
            .col-6
              .ph-row
                .ph-col-12.big
            .col-6
              .ph-row
                .ph-col-12.big

  div( v-show='!loading' )
    .col-xl-8.mx-auto
      .alert.alert-danger.alert-dimissable.fade.show.mb-3( v-if='error' )
        span( v-html='error' )
        button.ml-2.close( type='button', data-dismiss='alert', aria-label='Close' )
          span(aria-hidden='true') &times;
    
      tab-nav( :tabs='tabs' )

        //- general tab
        template(v-slot:general='')
          .form-group
            label(for='team_name') Name
            input#team_name.form-control(type='text' name='team[name]' v-model='team.name')
          .form-group
            label(for='team_description') Description
            input#team_description.form-control(type='text' name='team[description]' :value='team.description')
          .form-group
            button.btn.btn-primary(type='submit') Save

        //- members tab
        template(v-slot:members='')
          teams-members.mt-5( :team='team' )

        //- classifications tab
        template(v-slot:classifications='')
          classifications-edit-list( :classificationList='team.classifications', :owner_id='team.id', owner_type='Team'
                                     hashNavigation='false' )

        //- statuses tab
        template(v-slot:statuses='')
          edit-statuses( :statusList='team.statuses', :owner_id='team.id', owner_type='Team' )

        //- properties tab
        template(v-slot:properties='')
          edit-properties( :propertyList='team.properties', :owner_id='team.id', owner_type='Team' )

        //- extra links
        template(v-slot:links='')
          a.nav-link.text-danger( :href='team.show_url' ) Cancel

</template>

<script>
import Axios from 'axios'
import Consumer from "channels/consumer"
import Autocomplete from '../Autocomplete.vue'

export default {
  props: ['url', 'id'],
  components: {
    Autocomplete
  },
  data() {
    return {
      loading: true,
      error: '',
      team: {
        name: 'My New Team',
        members: [],
        classifications: [],
        statuses: [],
        properties: [],
        documents: []
      },
      tabs: [
        { name: 'general', label: 'General' },
        { name: 'members', label: 'Members' },
        { name: 'classifications', label: 'Classifications' },
        { name: 'statuses', label: 'Statuses' },
        { name: 'properties', label: 'Properties' }
      ],
      memberToAdd: '',
      isAddingMember: false
    }
  },
  methods: {
    searchUsers(query) {
      var existingMembers = this.team.members.map(x => x['id']);
      return new Promise(function(resolve, reject) {
        Axios
          .get('/users.json', { params: { q: query } })
          .then(response => {
            resolve(
              response.data.results.filter(
                x => (existingMembers.indexOf(x['id']) == -1)
              ).map(x => x.email)
            );
          })
          .catch(error => {
            reject(error);
          });
      });
    },
    addMember() {
      this.isAddingMember = true;
      return Axios
        .get('/users.json', { params: { q: this.memberToAdd } })
        .then(response => {
          this.isAddingMember = false;
          if (response.data.results.length > 0) {
            var user = response.data.results[0];
            this.team.members.push(user);
            this.$refs.memberAutocomplete.value = '';
          }
        })
        .catch(error => {
          this.isAddingMember = false
          this.error = error
        });
    },
    removeMember(index) {
      this.team.members.splice(index, 1);
    }
  },
  created() {
    var that = this
    Consumer.subscriptions.create(
      { channel: "TeamChannel", id: that.id },
      {
        connected() { },
        disconnected() { },
        received(data) { that.team = data.team; }
      }
    );

    let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
    Axios.defaults.headers.common['X-CSRF-Token'] = token
    Axios.defaults.headers.common['Accept'] = 'application/json'

    Axios
      .get(this.url)
      .then(response => {
        that.team = response.data
        that.loading = false
      })
      .catch(error => {
        that.error = error
        that.loading = false
      })
  }
}
</script>
