<template lang='pug'>
.d-flex
  a( :href='team.show_url' )
    span.mr-2
      i.fas.fa-users
    span {{ team.name }}
</template>

<script>
export default {
  props: {
    team: {
      type: Object,
      default: () => { return {} }
    },
  }
}
</script>
