<template>
  <div>
    <div v-if='isLoading'>
      <div class="ph-item">
        <div class='ph-col-12'>
          <div class="ph-row">
            <div class="ph-col-4 big"></div>
            <div class="ph-col-6 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-2 big"></div>
            <div class="ph-col-8 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-2 big"></div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if='teams == 0'>
      <p class='text-muted font-italic'>
        No teams found.
      </p>
    </div>
    <div v-else>
      <ul class='list-group'>
        <li
          class='list-group-item list-group-item-action'
          v-for='team in teams'
          :key='team.id'
          :team='team'
        >
          <div class='d-flex justify-content-between align-items-center'>
            <a class='text-truncate' :href='team.show_url'>
              {{ team.name }}
            </a>
            <span class='text-nowrap'>
              <span class='d-none d-sm-inline text-muted'>
                {{ team.documents.length }}
                <i class='fas fa-file-alt ml-1'/>
              </span>
              <span class='d-none d-sm-inline ml-2 ml-md-3 text-muted'>
                {{ team.members.length }}
                <i class='fas fa-user ml-1'/>
              </span>
              <a class='btn ml-1 ml-md-3 ml-lg-5 btn-sm' :href='team.edit_url' v-if='team.edit_url'>
                <i class='fas fa-edit'/>
                Edit
              </a>
              <a
                class='btn btn-danger btn-sm ml-1 ml-md-2'
                  v-if='team.destroy_url'
                :href='team.show_url'
                data-method='delete'
                data-confirm='Are you sure?'>
                <i class='fas fa-trash'/>
                Delete
              </a>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Axios from 'axios';
import Consumer from "channels/consumer";

export default {
  props: ['url', 'json'],
  data() {
    return {
      isLoading: true,
      teams: []
    };
  },
  created() {
    var that = this;
    Consumer.subscriptions.create("TeamsChannel", {
      connected() { },

      disconnected() { },

      received(data) {
        var team = that.teams.find(e => e.id == data.team.id);
        switch (data.action) {
          case 'create':
            that.teams.push(data.team);
            break;
    
          case 'destroy':
            if (team)
              that.teams.splice(that.teams.indexOf(team), 1);
            break;
    
          case 'update':
            if (team) {
              team.name = data.team.name;
            }
            break;
        }
      }
    });
    if (this.json) {
      this.teams = JSON.parse(this.json);
      this.isLoading = false
    } else {
      Axios
        .get(this.url || '/teams.json')
        .then(response => {
          this.teams = response.data
          this.isLoading = false
        })
        .catch(error => console.error(error));
    }
  }
}
</script>
