<template lang='pug'>
div
  h3 Members
  p Add new member to
    strong &nbsp;{{ team.name }}

  //- messages
  .alert.alert-danger.alert-dimissable.fade.show.mb-3(v-if='error')
    span(v-html='error')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;
  .alert.alert-success.alert-dimissable.fade.show.mb-3(v-if='notice')
    span(v-html='notice')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;

  .row
    .col-md-4
      autocomplete#user(:getResults='searchUsers' :disabled='adding' v-model='memberToAdd.user' aria-describedby='userHelp'
                        displayKey='fullname')
        small#userHelp.form-text.text-muted Search for a user to add
    .col-md-4
      select.custom-select(aria-describedby='roleHelp' :disabled='adding', v-model='memberToAdd.role')
        option(v-for='role in team.available_roles', :value='role.id') {{ role.name }}
      small#roleHelp.form-text.text-muted Select the role of the user
    .col-md-4
      button.btn.btn-primary.btn-block(:class='{ disabled: adding }' @click.prevent='addMember')
        div(v-show='adding')
          span.spinner-border.spinner-border-sm(role='status' aria-hidden='true') Adding...
        div(v-show='!adding') Add Member

  .mt-3
    .text-muted.mt-3(v-if='team.members.length == 0')
      i This team has no members
    ul.list-group
      li.list-group-item(v-for='(user, index) in team.members' :key='user.id' :user='user',
                         :class="{ disabled: user.saving }")
        .row.d-flex.align-items-center
          .col-4
            a(:href='user.show_url')
              span.spinner-border.spinner-border-sm.mr-3(role='status' aria-hidden='true' v-if='user.saving')
              img.rounded-circle( :src='gravatar(user.email)', width=30, height=30, v-if='!user.saving'
                                                       loading='eager', alt='Avatar' )
              span.pl-2 {{ user.fullname }}
          .col-4
            select.custom-select(v-model='user.role.role_id', @change.prevent="updateMember(user)",
                                 :disabled='user.saving')
              option(v-for='role in team.available_roles', :value='role.id') {{ role.name }}
          .col-4.text-right
            a.btn.btn-danger(href='#' @click.prevent='removeMember(index)')
              i.fas.fa-trash
</template>

<script>
import Axios from 'axios'
import Consumer from "channels/consumer"
import Autocomplete from '../Autocomplete.vue'
import gravatar from 'gravatar'

export default {
  props: {
    team: {
      type: Object,
      required: false,
      default: () => { return { name: '', members: [], available_roles: [] } },
    }
  },
  components: {
    Autocomplete
  },
  data() {
    return {
      error: '',
      notice: '',
      memberToAdd: {},
      adding: false
    }
  },
  watch: {
    team: function(v) {
      if (!this.memberToAdd.role) {
        this.resetMemberToAdd()
      }
    }
  },
  methods: {
    updateMember(member) {
      this.notice = ''
      this.error = ''
      member.saving = true
      let params = {
        member: {
          user: { id: member.id },
          role: member.role.role_id
        }
      }
      return Axios
        .post(`/teams/${this.team.id}/members.json`, params)
        .then(response => {
          member.saving = false
          this.notice = 'Member was updated'
        })
        .catch(error => {
          member.saving = false
          this.error = error
        })
    },
    resetMemberToAdd() {
      this.memberToAdd = { }
      if (this.team && this.team.available_roles && this.team.available_roles.length > 0) {
        this.memberToAdd.role = this.team.available_roles[0].id
      }
    },
    gravatar(email) {
      return gravatar.url(email, { d: 'identicon' })
    },
    searchUsers(query) {
      var existingMembers = this.team.members.map(x => x['id'])
      return new Promise(function(resolve, reject) {
        Axios
          .get('/users.json', { params: { q: query } })
          .then(response => {
            resolve(
              response.data.results.filter(
                x => (existingMembers.indexOf(x['id']) == -1)
              )
            )
          })
          .catch(error => {
            reject(error)
          })
      })
    },
    addMember() {
      this.error = ''
      this.notice = ''
      this.adding = true
      let params = {
        member: {
          user: { id: this.memberToAdd.user.id },
          role: this.memberToAdd.role
        }
      }
      return Axios
        .post(`/teams/${this.team.id}/members.json`, params)
        .then(response => {
          this.adding = false
          this.notice = 'Member was added successfully'
          this.team.members = response.data.members
          this.resetMemberToAdd()
        })
        .catch(error => {
          this.adding = false
          this.error = error
        })
    },
    removeMember(index) {
      this.error = ''
      this.notice = ''
      let member = this.team.members[index]
      let params = {
        "member[user][id]": member.id
      }
      this.team.members.splice(index, 1);
      var that = this
      return Axios
        .delete(`/teams/${this.team.id}/members.json`, { params })
        .then(response => {
          that.notice = 'Member was removed'
        })
        .catch(error => {
          that.error = error
        })
    }
  },
  created() {
    let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
    Axios.defaults.headers.common['X-CSRF-Token'] = token
    Axios.defaults.headers.common['Accept'] = 'application/json' 
  },
  mounted() {
    this.resetMemberToAdd()
  }
}
</script>
