<template lang='pug'>
div
  h3.text-center.my-3.text-muted.text-uppercase.font-weight-bold
    | Create new team

  .row
    .col-md-8.offset-md-2.p-3
      .form-group
        label(for='team_name') Name
        input#team_name.form-control(type='text' name='team[name]' v-model='team.name' placeholder='My new team')
      .form-group
        label(for='team_description') Description
        input#team_description.form-control(type='text' name='team[description]' :value='team.description'
                                            placeholder='The most awesome team.')
      .form-group
        button.btn.btn-primary(type='submit') Save
        a.btn.btn-link.text-danger( href='/teams' ) Cancel

</template>

<script>
export default {
  data() {
    return {
      error: '',
      team: {
        name: ''
      }
    }
  }
}
</script>
