<template>
  <div>
    <div class='d-flex'>
      <div class='flex-grow-1'>
        <h1>{{ team.name }}</h1>
        <p>{{ team.description }}</p>
      </div>
      <div>
        <a :href='team.edit_url' class='btn btn-primary' v-if='team.edit_url'>
          <i class='fas fa-edit'/>
          Edit
        </a>
        <a
          class='btn btn-danger'
          :href='team.show_url'
          v-if='team.destroy_url'
          data-method='delete'
          data-confirm='Are you sure?'>
          <i class='fas fa-trash'/>
          Delete
        </a>
      </div>
    </div>
    <div class='mt-5'>
      <h5>Members</h5>
      <div class='text-muted mt-3' v-if='team.members.length == 0'>
        <i>
          This team has no members
        </i>
      </div>
      <ul class='list-group'>
        <li
          class='list-group-item'
          v-for="user in team.members"
          :key="user.id"
          :user="user"
        >
          <div class='d-flex justify-content-between align-items-center'>
            <a :href='user.show_url'>
              {{ user.email }}
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class='mt-5'>
      <div class='d-flex justify-content-between mb-2'>
        <h5>Documents</h5>
        <span>
          <a :href='newDocumentURL' class='btn btn-primary btn-sm'>
            <i class='fas fa-plus' />
            New document
          </a>
        </span>
      </div>
      <div class='text-muted mt-3' v-if='team.documents.length == 0'>
        <i>
          This team has no documents
        </i>
      </div>
      <ul class='list-group'>
        <li
          class='list-group-item'
          v-for="document in team.documents"
          :key="document.id"
          :document="document"
        >
          <div class='d-flex justify-content-between align-items-center'>
            <a :href='document.show_url'>
              {{ document.title }}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Axios from 'axios';
import Consumer from "channels/consumer";

export default {
  props: ['url', 'id'],
  components: { },
  data() {
    return {
      team: {
        members: [],
        documents: []
      }
    }
  },
  created() {
    var that = this
    Consumer.subscriptions.create(
      { channel: "TeamChannel", id: that.id },
      {
        connected() { },
  
        disconnected() { },
  
        received(data) { that.team = data.team; }
      }
    );

    Axios
      .get(this.url)
      .then(response => (that.team = response.data))
      .catch(error => console.error(error));
  },

  computed: {
    newDocumentURL() {
      return `/documents/new?owner[type]=Team&owner[id]=${this.id}`
    }
  }
}
</script>
