<template>
  <div class='flex-grow-1' :class='{ active: isFocused }'>
    <list-toolbar :class='{ active: isFocused }' :block='block' />
    <div v-if='block.locked'>
      <div :is='listElement'>
        <li>Encrypted</li>
        <li>Encrypted</li>
        <li>Encrypted</li>
      </div>
    </div>
    <div v-else>
      <editable
        class='editable flex-grow-1'
        :element='listElement'
        v-model='block.content'
      />
    </div>
  </div>
</template>

<script>

import ListToolbar from './Toolbar.vue';
import Editable from 'components/Editable';

export default {
  props: ['block', 'isFocused'],
  components: {
    ListToolbar,
    Editable
  },
  computed: {
    listElement: function() {
      switch (this.block.kind) {
        case 'ordered':
          return 'ol'
        default:
          return 'ul'
      }
    }
  }
}
</script>
