- if notice
  .alert.alert-success.alert-dismissible.fade.show.rounded-0.mb-0{ role: :alert }
    = notice
    %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
      %span{ 'aria-hidden': true } &times;

- if alert
  .alert.alert-danger.alert-dismissible.fade.show.rounded-0.mb-0{ role: :alert }
    = alert
    %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
      %span{ 'aria-hidden': true } &times;

- if defined?(resource) && resource.errors.any?
  - resource.errors.full_messages.each do |message|
    .alert.alert-danger.alert-dismissible.fade.show.rounded-0.mb-0{ role: :alert }
      = message
      %button.close{ type: :button, 'data-dismiss': :alert, 'aria-label': 'Close' }
        %span{ 'aria-hidden': true } &times;
