<template lang='pug'>
div
  div(v-if='currentClassification.id')
    classifications-edit(:classification='currentClassification' @close='closeClassification()')

  div(v-else='')
    .alert.alert-danger.alert-dimissable.fade.show.mb-3(v-if='errorMessage')
      span(v-html='errorMessage')
      button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;
    .row.m-0
      .col-9.p-0.form-group.pr-md-2
        input#classification.form-control(type='text' name='classification' v-model='classificationToAdd' placeholder='Name of the classification' ref='classificationInput')
      .col-3.p-0
        button.btn.btn-primary.btn-block(:class='{ disabled: isAddingClassification }' @click.prevent='addClassification')
          div(v-show='isAddingClassification')
            span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
            |             Adding...
          div(v-show='!isAddingClassification')
            | Add Classification
    div(v-if='isLoading')
      .ph-item
        .ph-col-12
          .ph-row
            .ph-col-4.big
            .ph-col-6.big.empty
            .ph-col-2.big
          .ph-row
            .ph-col-2.big
            .ph-col-8.big.empty
            .ph-col-2.big
          .ph-row
            .ph-col-6.big
            .ph-col-4.big.empty
            .ph-col-2.big
    div(v-else-if='classifications == 0')
      p.text-muted.font-italic
        | No classifications found.
    div(v-else='')
      ul.list-group
        li.list-group-item(v-for='(classification, index) in classifications' :key='classification.id' :classification='classification')
          .d-flex.justify-content-between.align-items-center
            a(href='#' @click.prevent='openClassification(classification)')
              | {{ classification.name }}
            div
              span.mr-4.text-muted(v-if='classification.stamp' :style='stampColor(classification)')
                i.fas.fa-stamp
              a.btn.btn-danger(href='#' @click.prevent='removeClassification(index)')
                i.fas.fa-trash
</template>

<script>
import Axios from 'axios'

export default {
  props: {
    url: {
      type: String
    },
    classificationList: {
      type: Array
    },
    owner_id: {
      type: Number
    },
    owner_type: {
      type: String
    },
    hashNavigation: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      currentClassification: {},
      classifications: [],
      classificationToAdd: '',
      isAddingClassification: false,
      errorMessage: '',
      isLoading: true
    }
  },
  methods: {
    stampColor(classification) {
      let color = classification.color || 'black'
      return `color: ${color} !important;`
    },
    addClassification() {
      this.isAddingClassification = true;
      this.errorMessage = ''
      let params = {
        classification: { name: this.classificationToAdd }
      }
      if (this.owner_id && this.owner_type) {
        params.classification.owner_id = this.owner_id
        params.classification.owner_type = this.owner_type
      }
      return Axios
        .post('/classifications.json', params)
        .then(response => {
          this.classifications.push({
            name: response.data.name,
            id: response.data.id
          });
          this.classificationToAdd = '';
          this.isAddingClassification = false;
        })
        .catch(error => {
          this.isAddingClassification = false;
          this.errorMessage = error
        });
    },
    removeClassification(index) {
      this.errorMessage = ''
      var id = this.classifications[index].id
      this.classifications.splice(index, 1);
      return Axios
        .delete(`/classifications/${id}.json`)
        .then(response => { })
        .catch(error => {
          this.errorMessage = error
        });
    },
    openClassification(classification) {
      this.currentClassification = classification
      if (this.hashNavigation == true) {
        history.pushState(null, null, `#${classification.id}`)
      }
    },
    closeClassification() {
      this.currentClassification = {}
      if (this.hashNavigation == true) {
        history.pushState(null, null, `#`)
      }
    }
  },
  watch: {
    classificationList: function() {
      this.classifications = this.classificationList
    }
  },
  created() {
    var that = this

    let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
    Axios.defaults.headers.common['X-CSRF-Token'] = token
    Axios.defaults.headers.common['Accept'] = 'application/json'

    if (this.url) {
      Axios
        .get(this.url)
        .then(response => {
          that.classifications = response.data
          that.isLoading = false
          if (this.hashNavigation == true && window.location.hash && that.classifications.length > 0) {
            let id = window.location.hash.match(/\d+/) | 0
            let i = that.classifications.map(x => x.id).indexOf(id)
            if (i >= 0 && i < this.classifications.length) {
              that.currentClassification = that.classifications[i]
            }
          }
        })
        .catch(error => {
          that.errorMessage = error
          that.isLoading = false
        });
    } else if (this.classificationList) {
      this.classifications = this.classificationList
      this.isLoading = false
    } else {
      that.isLoading = false
    }
  }
}
</script>
