<template lang='pug'>
div
  h4.text-center.text-muted.mb-3 Edit classification {{ classification.name }}

  //- messages
  .alert.alert-danger.alert-dimissable.fade.show.mb-3(v-if='error')
    span(v-html='error')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;
  .alert.alert-success.alert-dimissable.fade.show.mb-3(v-if='notice')
    span(v-html='notice')
    button.ml-2.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;

  //- form
  .form-row
    .form-group.col-md-6
      label(for='classificationName') Name
      input.form-control#classificationName(type='text', v-model='classification.name', :disabled='saving')

    .form-group.col-md-6
      label Show stamp
      .custom-control.custom-switch
        input.custom-control-input#classificationStamp( type='checkbox' v-model='classification.stamp' )
        label.custom-control-label( for='classificationStamp' )

  div( v-if='classification.stamp' )
    .form-row
      .form-group.col-md-6
        label(for='classificationTitle') Title
        input.form-control#classificationTitle(type='text' v-model='classification.title' :disabled='saving'
                                              aria-describedby='titleHelp' placeholder='Classified')
        small.form-text.text-muted#titleHelp Title at the top of the stamp.

      .form-group.col-md-6
        label(for='classificationLabel') Label
        input.form-control#classificationLabel(type='text' v-model='classification.label' :disabled='saving'
                                              aria-describedby='labelHelp' :placeholder='classification.name')
        small.form-text.text-muted#labelHelp Label on stamp describing the classification level.

    .form-row
      .form-group.col-md-8
        label(for='classificationDescription') Description
        input.form-control#classificationDescription(type='text' v-model='classification.description' :disabled='saving'
                                                    aria-describedby='descriptionHelp'
                                                    placeholder='In accordance with 2013/488/EU art 9(2)' )
        small.form-text.text-muted#descriptionHelp Short text shown below classification name.

      .form-group.col-md-4
        label(for='classificationLabel') Date format
        input.form-control#classificationDateFormat(type='text' v-model='classification.date_format' :disabled='saving'
                                                    aria-describedby='dateFormatHelp' placeholder='%Y-%m-%d')
        small.form-text.text-muted#dateFormatHelp Format of the date stamp.

    .form-row
      .form-group.col-md-6
        label(for='classificationAuthority') Authority
        input.form-control#classificationAuthority(type='text' v-model='classification.authority' :disabled='saving'
                                                  aria-describedby='authorityHelp'
                                                  placeholder='Agency X')
        small.form-text.text-muted#authorityHelp Entity responsible for classification

      .form-group.col-md-3
        label(for='classificationColor') Stamp color
        input.form-control#classificationColor(type='color' v-model='classification.color' :disabled='saving'
                                              aria-describedby='colorHelp')
        small.form-text.text-muted#colorHelp Color of the stamp.

      .form-group.col-md-3
        label(for='classificationColor') Double border
        .custom-control.custom-switch
          input.custom-control-input#classificationDoubleBorder( type='checkbox' v-model='classification.double_border' )
          label.custom-control-label( for='classificationDoubleBorder' )
  
  .mt-5
    button.btn.btn-primary( href='#' @click.prevent='save()', :disabled='saving' )
      span(v-show='saving')
        span.spinner-border.spinner-border-sm.mr-2(aria-hidden='true')
      | Save
    button.btn.btn-link(@click.prevent='close()', :disabled='saving') Back

</template>

<script>
import Axios from 'axios'

export default {
  props: {
    classification: {
      type: Object,
      required: false,
      default: () => { return { name: '' } },
    }
  },
  data() {
    return {
      saving: false,
      error: '',
      notice: ''
    }
  },
  methods: {
    close() {
      this.$emit('close')
    },
    save() {
      this.saving = true
      this.error = ''
      this.notice = ''
      var that = this
      let params = { classification: this.classification }
      return Axios
        .patch(`/classifications/${this.classification.id}.json`, params)
        .then(response => {
          that.saving = false
          that.notice = 'Classification has been saved'
        })
        .catch(error => {
          that.saving = false
          try {
            that.error = JSON.parse(error.response.data)
          }
          catch {
            that.error = error
          }
        });
    }
  }
}
</script>
