<template lang='pug'>
  .flex-grow-1( :class='{ active: isFocused }' )
    raw-toolbar( :class='{ active: isFocused }' :block='block' v-model='currentTab' )
    textarea-autosize.block-code.p-2.flex-grow-1( placeholder='raw rst' v-model='block.content'
                                                        v-if="currentTab == 'edit'" )
    .docutils.p-2( v-if="currentTab == 'preview'" v-html='html' )
</template>

<script>
 
import Editable from 'components/Editable'
import RawToolbar from './Toolbar.vue'
import Axios from 'axios'
import { debounce } from 'debounce'

export default {
  props: ['block', 'isFocused'],
  components: {
    RawToolbar
  },
  watch: {
    'isFocused': function(value) {
      if (!value) {
        this.currentTab = 'edit'
      }
    },
    'block.content': function(value) {
      this.delayedGeneratePreview()
    }
  },
  methods: {
    generatePreview() {
      var that = this
      var buffer = new Buffer.from(this.block.content)
      var encodedContent = buffer.toString('base64')
      var language = this.block.kind
      this.loading = true
      return Axios
        .get('/blocks/rst2html.json', {
          params: { rst: encodedContent }
        })
        .then((response) => {
          this.loading = false
          that.html = response.data.html
        })
        .catch(error => {
          this.loading = false
          console.error(error)
        })
    }
  },
  data: function() {
    return {
      loading: false,
      currentTab: 'edit',
      html: ''
    }
  },
  created() {
    this.html = this.block.html
    this.delayedGeneratePreview = debounce(this.generatePreview, 1000)
  }
}
</script>
