<template lang='pug'>
  .block-toolbar-container
    .block-toolbar.bg-light( role='toolbar' )
      nav.nav
        a.nav-link(href='#' :class="{ active: value == 'edit' }" @click.prevent="switchTab('edit')") Edit
        a.nav-link(href='#' :class="{ active: value == 'preview' }" @click.prevent="switchTab('preview')") Preview
</template>

<script>
export default {
  props: ['block', 'value'],
  data: function() {
    return {
      currentTab: 'edit'
    }
  },
  methods: {
    switchTab(tab) {
      this.$emit('input', tab)
    }
  }
}
</script>
