.px-2.px-sm-3.px-md-5.py-4#dashboard

  - if current_user

    .d-flex.my-2
      .flex-grow-1
        %h2 My Documents
      %div
        = link_to new_document_path, class: 'btn btn-primary' do
          %i.fas.fa-plus
          New Document

    %documents-list{ url: user_documents_url(current_user, format: :json) }

    %h2.mt-5.mb-2 Team Documents
    %documents-list{ url: documents_url(scope: :teams, format: :json) }

    %h2.mt-5.mb-2 Public Documents
    %documents-list{ url: documents_url(scope: :public, format: :json) }

    .d-flex.mt-5.mb-2
      .flex-grow-1
        %h2 My Teams
      %div
        = link_to new_team_path, class: 'btn btn-primary' do
          %i.fas.fa-plus
          New Team

    %teams-list{ url: user_teams_url(current_user, format: :json) }

    %h2.mt-5.mb-2 Other Teams
    %teams-list{ url: teams_url(scope: :joinable, format: :json) }

    %h2.mt-5.mb-2 Users
    %users-list{ url: users_url(format: :json) }

  - else

    %h2.mt-5.mb-2 Public Documents
    %documents-list{ url: documents_url(format: :json) }

    %h2.mt-5.mb-2 Teams
    %teams-list{ url: teams_url(format: :json) }

    %h2.mt-5.mb-2 Users
    %users-list{ url: users_url(format: :json) }
