= form_with(model: document, local: true, class: 'm-0 p-0 flex-grow-1') do |form|

  = render partial: 'shared/resource_alerts', resource: document

  - if document.owner
    = form.hidden_field :owner_id
    = form.hidden_field :owner_type

  - if document.persisted?
    %documents-edit{ document_url: document_url(document, format: :json, skip_jinja: true) }
  - else
    %documents-edit

