.px-2.px-sm-3.px-md-5.py-4#documents

  .d-flex.mb-4
    .flex-grow-1
      %h1 Documents
    %div
      = link_to new_document_path, class: 'btn btn-primary' do
        %i.fas.fa-plus
        New Document

  %documents-list{ url: documents_url(format: :json, search: params[:search]) }
