= form_with(model: @document, local: true, class: 'm-0 p-0 flex-grow-1') do |form|

  = render partial: 'shared/resource_alerts', locals: { resource: @document }

  - if @document.owner
    = form.hidden_field :owner_id
    = form.hidden_field :owner_type

  %documents-new

