<template lang='pug'>
.flex-grow-1(:class='{ active: isFocused }')
  table-toolbar(:class='{ active: isFocused }' :block='block'
                :isBold='isBold' :isItalic='isItalic' :isStrike='isStrike')
  div(v-if='ready')
    table.table
      thead
        tr
          th(scope='col' v-for='c in parseInt(block.columns)')
            editable.editable(ref='editables' v-model='cells[0][c-1]["content"]' @formatChange='formatChange')
      tbody
        tr(v-for='r in parseInt(block.rows)-1')
          td(v-for='c in parseInt(block.columns)')
            editable.editable(ref='editables' v-model='cells[r][c-1]["content"]' @formatChange='formatChange')
  div(v-else='')
    table.table
      thead
        tr
          th(scope='col') Encrypted
          th(scope='col') Encrypted
          th(scope='col') Encrypted
      tbody
        tr
          td Encrypted
          td Encrypted
          td Encrypted
</template>

<script>
 
import Editable from 'components/Editable';
import TableToolbar from './Toolbar.vue';

export default {
  props: ['block', 'isFocused'],
  components: {
    TableToolbar,
    Editable
  },
  computed: {
    rows: function() { return this.block.rows },
    columns: function() { return this.block.columns },
  },
  watch: {
    rows: function() {
      this.refreshContent()
    },
    columns: function() {
      this.refreshContent()
    },
    cells: {
      handler(val, oldVal) {
        this.refreshContent()
      },
      deep: true
    },
    'block.locked': function() {
      this.initCells(100, 15, this.block.content)
    }
  },
  methods: {
    refreshContent: function() {
      if (this.block.locked) { return }
      var content = [];
      for (var r=0; r < this.block.rows; r++) {
        content[r] = []
        for (var c=0; c < this.block.columns; c++) {
          content[r][c] = this.cells[r][c]
        }
      }
      this.block.content = JSON.stringify(content)
    },
    initCells: function(rows, cols, content) {
      if (this.block.locked) { return }
      content = JSON.parse(content)
      var cells = [];
      for (var r=0; r < rows; r++) {
        cells[r] = []
        for (var c=0; c < cols; c++) {
          if (content && content[r] && content[r][c])
            cells[r][c] = content[r][c]
          else if (!cells[r][c])
            cells[r][c] = { content: `${r}:${c}` } 
        }
      }
      this.cells = cells;
      this.ready = true
    },
    formatChange: function(formats) {
      this.isBold = formats.isBold || false;
      this.isItalic = formats.isItalic || false;
      this.isStrike = formats.isStrike || false;
    }
  },
  data: function() {
    return {
      isBold: false,
      isItalic: false,
      isStrike: false,
      ready: false,
      cells: [[{}]]
    };
  },
  created() {
    this.initCells(100, 15, this.block.content);
  }
}
</script>
