<template lang='pug'>
.block-toolbar-container
  .block-toolbar.btn-toolbar.bg-light(role='toolbar')

    .input-group
      .input-group-prepend
        .input-group-text Rows
      input#blockRows.form-control.table-size(type='number' v-model='block.rows')

    .input-group.ml-1.mr-2
      .input-group-prepend
        .input-group-text Columns
      input#blockColumns.form-control.table-size(type='number' v-model='block.columns')
      
    .btn-group
      button.btn.btn-outline-secondary(@click.prevent='toggleBold()' :class='{ active: isBold }')
        i.fas.fa-bold
      button.btn.btn-outline-secondary(@click.prevent='toggleItalic()' :class='{ active: isItalic }')
        i.fas.fa-italic
      button.btn.btn-outline-secondary(@click.prevent='toggleStrike()' :class='{ active: isStrike }')
        i.fas.fa-strikethrough
</template>

<script>
export default {
  props: ['block', 'isBold', 'isItalic', 'isStrike'],
  methods: {
    setAlignment: function (align) {
      this.block.alignment = align;
    },
    toggleBold: function() {
      document.execCommand("bold", false, null);
    },
    toggleItalic: function() {
      document.execCommand("italic", false, null);
    },
    toggleStrike: function() {
      document.execCommand("strikethrough", false, null);
    }
  }
}
</script>
