<template>
  <div class='dropdown text-center'>
    <button
      class='btn btn-link'
      type='button'
      data-toggle='dropdown'
      aria-haspopup='true'
      aria-expanded='false'
    >
      <i class='fas fa-plus-circle'/>
    </button>
    <div class='dropdown-menu'>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("Paragraph")'>
        <i class='fas fa-fw fa-paragraph' />
        Paragraph
      </a>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("Heading")'>
        <i class='fas fa-fw fa-heading' />
        Heading
      </a>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("List")'>
        <i class='fas fa-fw fa-list' />
        List
      </a>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("Image")'>
        <i class='fas fa-fw fa-image' />
        Image
      </a>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("Quote")'>
        <i class='fas fa-fw fa-quote-right' />
        Quote
      </a>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("Code")'>
        <i class='fas fa-fw fa-code' />
        Code
      </a>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("Table")'>
        <i class='fas fa-fw fa-table' />
        Table
      </a>
      <a href='#' class='dropdown-item' v-on:click.prevent='click("Raw")'>
        <i class='far fa-fw fa-file-code' />
        Raw
      </a>
    </div>
  </div>
</template>

<script>
module.exports = {
  methods: {
    click: function (type) {
      this.$emit('click', type);
    }
  }
}
</script>
