<template>
  <div
    class='d-flex align-items-start bg-white'
    :block-id='block.id'
    @focusin='focusin'
    @focusout='focusout'
  >
    <input type='hidden' v-model='block.id' name='document[blocks][][id]' />
    <input type='hidden' v-model='block.type' name='document[blocks][][type]' />
    <input type='hidden' v-model='block.alignment' name='document[blocks][][alignment]' />
    <input type='hidden' v-model='block.content' name='document[blocks][][content]' />
    <input type='hidden' v-model='block.level' name='document[blocks][][level]' />
    <input type='hidden' v-model='block.source' name='document[blocks][][source]' />
    <input type='hidden' v-model='block.kind' name='document[blocks][][kind]' />
    <input type='hidden' v-model='block.columns' name='document[blocks][][columns]' />
    <input type='hidden' v-model='block.rows' name='document[blocks][][rows]' />
    <input type='hidden' v-model='block.encrypted' name='document[blocks][][encrypted]' />

    <div
      class='block flex-grow-1'
      :class='blockClass'
      :block='block'
      :isFocused='isFocused'
      :is='blockElement'>
    </div>

    <div class='d-flex flex-column p-2'>
      <button class='btn btn-link text-danger mt-0 p-0' @click.prevent='remove'>
        <i class='fas fa-times'/>
      </button>
      <i class='mt-2 fas fa-grip-horizontal cursor-move text-black-50 handle'/>
    </div>
  </div>
</template>

<script>
export default {
  props: ['block'],
  data: function () {
    return {
      focusTimer: null,
      isFocused: false
    };
  },
  methods: {
    remove: function (event) {
      this.$emit('remove');
    },
    setAlignment: function (align) {
      this.block.alignment = align;
    },
    focusin: function (event) {
      this.isFocused = true;
      clearTimeout(this.focusTimer);
    },
    focusout: function (event) {
      var that = this;
      this.focusTimer = setTimeout(function () {
        that.isFocused = false;
      }, 100);
    }
  },
  computed: {
    ref: function() {
      return 'block_' + this.block.id;
    },
    blockClass: function() {
      var blockClass = `text-${this.block.alignment}`
      if (this.block.encrypted) {
        blockClass += ` encrypted encrypted-${this.block.type.toLowerCase()}`
      }
      if (this.block.locked) {
        blockClass += ' encrypted-locked'
      }
      return blockClass
    },
    blockElement: function() {
      switch (this.block.type) {
        case 'Heading':
          return 'documents-blocks-headings-edit';
        case 'List':
          return 'documents-blocks-lists-edit';
        case 'Image':
          return 'documents-blocks-images-edit';
        case 'Quote':
          return 'documents-blocks-quotes-edit';
        case 'Code':
          return 'documents-blocks-code-edit';
        case 'Table':
          return 'documents-blocks-tables-edit';
        case 'Raw':
          return 'documents-blocks-raw-edit';
        default:
          return 'documents-blocks-paragraphs-edit';
      };
    }
  }
}
</script>
