<template>
  <div>
    <documents-blocks-show
      v-for='block in blocks'
      :key='block.id'
      :block='block'
    />
  </div>
</template>

<script>

export default {
  props: ['blocks']
}
</script>
