<template>
  <div v-if="block.type == 'Image'">
    <div :class='alignmentClass'>
      <img :src='block.content' class='img-thumbnail my-4'/>
    </div>
  </div>
  <div v-else-if="block.type == 'Quote'">
    <blockquote :class='alignmentClass' class='blockquote'>
      <span class="fa fa-quote-left quote-mark" />
      <p class='mb-0' v-html='block.content'>
      <div v-if="block.source">
        <footer class="blockquote-footer">{{ block.source }}</footer>
      </div>
    </blockquote>
  </div>
  <div v-else-if="block.type == 'Paragraph'">
    <div :class='kindClass'>
      <h4 class='text-uppercase' v-if='block.kind != ""'>
        <span :class='kindIcon'/>
        {{ block.kind | capitalize }}
      </h4>
      <div :is='blockElement' v-html='block.content' :class='alignmentClass'>
      </div>
    </div>
  </div>
  <div v-else-if="block.type == 'Code'">
    <documents-blocks-code-show :block='block' />
  </div>
  <div v-else-if="block.type == 'Raw'">
    <documents-blocks-raw-show :block='block' />
  </div>
  <div v-else-if="block.type == 'Table'">
    <table class='table'>

      <thead>
        <tr>
          <th scope='col' v-for='c in parseInt(block.columns)' v-html='jsonContent[0][c-1]["content"]'>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr v-for='r in parseInt(block.rows)-1'>
          <td v-for='c in parseInt(block.columns)' v-html='jsonContent[r][c-1]["content"]'>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-else>
    <div :is='blockElement' v-html='block.content' :class='alignmentClass'>
    </div>
  </div>
</template>

<script>
export default {
  props: ['block'],
  computed: {
    alignmentClass: function() {
      return 'text-' + this.block.alignment;
    },
    kindClass: function() {
      return 'paragraph-kind-' + this.block.kind || 'normal';
    },
    kindIcon: function() {
      switch (this.block.kind) {
        case 'tip':
          return 'far fa-lightbulb'
          break
        case 'note':
          return 'far fa-file-alt'
          break
        case 'warning':
          return 'fas fa-exclamation-triangle'
          break
      }
    },
    blockElement: function() {
      switch (this.block.type) {
        case 'Heading':
          return 'h' + this.block.level;
        case 'List':
          switch (this.block.kind) {
            case 'ordered':
              return 'ol'
            default:
              return 'ul'
          }
        default:
          return 'p';
      }
    },
    jsonContent: function() {
      return JSON.parse(this.block.content)
    }
  }
}
</script>
