<template>
  <div class='block-toolbar-container'>
    <div class='block-toolbar btn-toolbar bg-light' role='toolbar'>
      <div class='btn-group'>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("left")'
          :class="{ active: block.alignment == 'left' }"
        >
          <i class='fas fa-align-left'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("center")'
          :class="{ active: block.alignment == 'center' }"
        >
          <i class='fas fa-align-center'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("right")'
          :class="{ active: block.alignment == 'right' }"
        >
          <i class='fas fa-align-right'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("justify")'
          :class="{ active: block.alignment == 'justify' }"
        >
          <i class='fas fa-align-justify'/>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['block'],
  methods: {
    setAlignment: function (align) {
      this.block.alignment = align;
    },
  }
}
</script>