- available_auth = [Settings.auth.google.enabled, Settings.auth.office365.enabled, Settings.auth.keycloak.enabled]
.text-center.mt-5

  %h2 Sign in

  - if available_auth.any?

    %p.py-3
      - if available_auth.count(true) > 1
        You can sign in using any of the following identity providers
      - else
        You can sign in using the following identity provider

    .col-sm-12.col-md-8.col-lg-6.col-xl-2.mx-auto

      - if Settings.auth.keycloak.enabled
        = link_to user_keycloakopenid_omniauth_authorize_path,
          class: 'btn btn-primary btn-lg btn-block my-4 mx-auto w-auto' do
          %i.fab.fa-redhat
          Keycloak

      - if Settings.auth.google.enabled
        = link_to user_google_oauth2_omniauth_authorize_path,
          class: 'btn btn-primary btn-lg btn-block my-4 mx-auto w-auto' do
          %i.fab.fa-google
          Google

      - if Settings.auth.office365.enabled
        = link_to user_microsoft_office365_omniauth_authorize_path,
          class: 'btn btn-primary btn-lg btn-block my-4 mx-auto w-auto' do
          %i.fab.fa-microsoft
          Office 365

  - else

    .alert.alert-danger.col-sm-12.col-md-8.col-lg-6.col-xl-4.mx-auto.mt-5
      No authentication method has been enabled.
