.block
  border: 1px solid transparent

  .editable
    margin: 0
    outline: none;

  &.active
    background: white
    border: 1px solid $gray-500
    z-index: 1000

  .block-toolbar-container
    display: none
    position: sticky
    top: 44px
    transform: translateY(-44px)

    &.active
      display: block

      .block-toolbar
        border: 1px solid $gray-500
        background: white

    .block-toolbar
      position: absolute
      top: 0px
      left: -1px
      right: -1px
      height: 44px
      padding: 2px

      nav a
        color: $text-muted

      nav a.active
        color: $primary
  
  &.encrypted-locked
    .editable
      overflow-wrap: anywhere

blockquote
  padding: 1em
  background: #eee
  position: relative
  margin-top: 2em

  .quote-mark
    top: -25px
    height: 50px !important
    width: 50px !important
    left: 50%
    right: 50%
    position: absolute
    background: #eee
    padding: 12px
    border-radius: 50%
    transform: translateX(-50%)

.paragraph-kind-tip
  border: 1px solid #dd0
  border-left: 16px solid #dd0
  padding: 1em 1em 0
  margin: 1em 0

.paragraph-kind-warning
  border: 1px solid #f88
  border-left: 16px solid #f88
  padding: 1em 1em 0
  margin: 1em 0

.paragraph-kind-note
  border: 1px solid #08f
  border-left: 16px solid #08f
  padding: 1em 1em 0
  margin: 1em 0

textarea.block-code
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  width: 100%
  border: none
  margin-bottom: -.3em

input.table-size
  width: 70px !important
