.docutils

  /* Minimal style sheet for the HTML output of Docutils.
  /*
  /* :Author: Günter Milde, based on html4css1.css by David Goodger
  /* :Id: $Id: minimal.css 8397 2019-09-20 11:09:34Z milde $
  /* :Copyright: © 2015 Günter Milde.
  /* :License: Released under the terms of the `2-Clause BSD license`_,
  /*    in short:
  /*
  /*    Copying and distribution of this file, with or without modification,
  /*    are permitted in any medium without royalty provided the copyright
  /*    notice and this notice are preserved.
  /*
  /*    This file is offered as-is, without any warranty.
  /*
  /* .. _2-Clause BSD license: http://www.spdx.org/licenses/BSD-2-Clause

  /* This CSS2.1_ stylesheet defines rules for Docutils elements without
  /* HTML equivalent. It is required to make the document semantic visible.
  /*
  /* .. _CSS2.1: http://www.w3.org/TR/CSS2
  /* .. _validates: http://jigsaw.w3.org/css-validator/validator$link

  /* alignment of text and inline objects inside block objects

  .align-left
    text-align: left

  .align-right
    text-align: right

  .align-center
    clear: both
    text-align: center

  .align-top
    vertical-align: top

  .align-middle
    vertical-align: middle

  .align-bottom
    vertical-align: bottom

  /* titles

  h1.title
    text-align: center

  p
    &.subtitle
      text-align: center

    &.topic-title, &.sidebar-title, &.rubric, &.admonition-title, &.system-message-title
      font-weight: bold

  h1 + p
    &.subtitle, &.section-subtitle
      font-size: 1.6em

  h2 + p.section-subtitle
    font-size: 1.28em

  p
    &.subtitle, &.section-subtitle, &.sidebar-subtitle
      font-weight: bold
      margin-top: -0.5em

    &.sidebar-title
      font-size: larger

    &.rubric
      font-size: larger
      color: maroon

  a.toc-backref
    color: black
    text-decoration: none

  /* Warnings, Errors

  div
    &.caution p.admonition-title, &.attention p.admonition-title, &.danger p.admonition-title, &.error p.admonition-title, &.warning p.admonition-title, &.system-messages h1, &.error
      color: red

  span.problematic, p.system-message-title
    color: red

  /* inline literals

  span.docutils.literal
    font-family: monospace
    white-space: pre-wrap

  /* do not wraph at hyphens and similar:

  .literal > span.pre
    white-space: nowrap

  /* Lists

  /* compact and simple lists: no margin between items

  .simple li, .compact li, .simple ul, .compact ul, .simple ol, .compact ol, .simple > li p, .compact > li p
    margin-top: 0
    margin-bottom: 0

  dl
    &.simple > dd, &.compact > dd
      margin-top: 0
      margin-bottom: 0

  /* Table of Contents

  div.topic.contents
    margin: 0.5em 0

    ul
      list-style-type: none
      padding-left: 1.5em

  /* Enumerated Lists

  ol
    &.arabic
      list-style: decimal

    &.loweralpha
      list-style: lower-alpha

    &.upperalpha
      list-style: upper-alpha

    &.lowerroman
      list-style: lower-roman

    &.upperroman
      list-style: upper-roman

  dt span.classifier
    font-style: italic

    &:before
      font-style: normal
      margin: 0.5em
      content: ":"

  /* Field Lists and drivatives
  /* bold field name, content starts on the same line

  dl
    &.field-list > dt, &.option-list > dt, &.docinfo > dt, &.footnote > dt, &.citation > dt
      font-weight: bold
      clear: left
      float: left
      margin: 0
      padding: 0
      padding-right: 0.5em

    &.field-list > dd, &.option-list > dd, &.docinfo > dd
      margin-left: 9em

      /* ca. 14 chars in the test examples

    &.field-list > dd > *:first-child, &.option-list > dd > *:first-child
      display: inline-block
      width: 100%
      margin: 0

    &.field-list > dt:after, &.docinfo > dt:after
      content: ":"

  /* Offset for field content (corresponds to the --field-name-limit option)

  /* start field-body on a new line after long field names

  /* field names followed by a colon

  /* Bibliographic Fields (docinfo)

  pre.address
    font: inherit

  dd.authors > p
    margin: 0

  /* Option Lists

  dl.option-list
    margin-left: 1.5em

    > dt
      font-weight: normal

  span.option
    white-space: nowrap

  /* Footnotes and Citations

  dl
    &.footnote
      &.superscript > dd
        margin-left: 1em

      &.brackets > dd
        margin-left: 2em

    > dt.label
      font-weight: normal

  a.footnote-reference.brackets:before, dt.label > span.brackets:before
    content: "["

  a.footnote-reference.brackets:after, dt.label > span.brackets:after
    content: "]"

  a.footnote-reference.superscript, dl.footnote.superscript > dt.label
    vertical-align: super
    font-size: smaller

  dt.label > span.fn-backref
    margin-left: 0.2em

    > a
      font-style: italic

  /* Line Blocks

  div.line-block
    display: block

    div.line-block
      margin-top: 0
      margin-bottom: 0
      margin-left: 40px

  /* Figures, Images, and Tables

  .figure.align-left, figure.align-left, img.align-left, object.align-left, table.align-left
    margin-right: auto

  .figure.align-center, figure.align-center, img.align-center, object.align-center, table.align-center
    margin-left: auto
    margin-right: auto

  .figure.align-right, figure.align-right, img.align-right, object.align-right, table.align-right
    margin-left: auto

  .figure
    &.align-center, &.align-right
      display: block

  figure
    &.align-center, &.align-right
      display: block

  img
    &.align-center, &.align-right
      display: block

  object
    &.align-center, &.align-right
      display: block

  /* reset inner alignment in figures and tables

  .figure
    &.align-left, &.align-right
      text-align: inherit

  figure
    &.align-left, &.align-right
      text-align: inherit

  table
    &.align-left, &.align-center, &.align-right
      text-align: inherit

  /* Admonitions and System Messages

  div
    &.admonition, &.system-message, &.sidebar
      margin: 1em 1.5em
      border: medium outset
      padding-top: 0.5em
      padding-bottom: 0.5em
      padding-right: 1em
      padding-left: 1em

  aside.sidebar
    margin: 1em 1.5em
    border: medium outset
    padding-top: 0.5em
    padding-bottom: 0.5em
    padding-right: 1em
    padding-left: 1em

  /* Sidebar

  div.sidebar, aside.sidebar
    width: 30%
    max-width: 26em
    float: right
    clear: right

  /* Text Blocks

  blockquote, div.topic
    margin-left: 1.5em
    margin-right: 1.5em

  pre
    &.literal-block, &.doctest-block, &.math
      margin-left: 1.5em
      margin-right: 1.5em

    &.code
      margin-left: 1.5em
      margin-right: 1.5em

      .ln
        color: gray

  /* line numbers

  /* Tables

  table
    border-collapse: collapse

  td, th
    border-style: solid
    border-color: silver
    padding: 0 1ex
    border-width: thin

  td > p:first-child, th > p:first-child
    margin-top: 0

  td > p, th > p
    margin-bottom: 0

  table
    > caption
      text-align: left
      margin-bottom: 0.25em

    &.borderless
      td, th
        border: 0
        padding: 0
        padding-right: 0.5em

  /* Document Header and Footer
  /* div.header,
  /* header { border-bottom: 1px solid black; }
  /* div.footer,
  /* footer { border-top: 1px solid black; }

  /* new HTML5 block elements: set display for older browsers

  header, section, footer, aside, nav, main, article, figure
    display: block

  /* CSS31_ style sheet for the output of Docutils HTML writers.
  /* Rules for easy reading and pre-defined style variants.
  /*
  /* :Author: Günter Milde, based on html4css1.css by David Goodger
  /* :Id: $Id: plain.css 8397 2019-09-20 11:09:34Z milde $
  /* :Copyright: © 2015 Günter Milde.
  /* :License: Released under the terms of the `2-Clause BSD license`_,
  /*    in short:
  /*
  /*    Copying and distribution of this file, with or without modification,
  /*    are permitted in any medium without royalty provided the copyright
  /*    notice and this notice are preserved.
  /*
  /*    This file is offered as-is, without any warranty.
  /*
  /* .. _2-Clause BSD license: http://www.spdx.org/licenses/BSD-2-Clause
  /* .. _CSS3: http://www.w3.org/TR/CSS3

  /* Document Structure
  /* ******************

  /* "page layout"

  body
    margin: 0
    background-color: #dbdbdb

  div.document, main
    line-height: 1.3
    counter-reset: table

    /* counter-reset: figure;
    /* avoid long lines --> better reading
    /* OTOH: lines should not be too short because of missing hyphenation,
    max-width: 50em
    padding: 1px 2%

    /* 1px on top avoids grey bar above title (mozilla)
    margin: auto
    background-color: white

  /* Sections

  /* Transitions

  hr.docutils
    width: 80%
    margin-top: 1em
    margin-bottom: 1em
    clear: both

  /* Paragraphs
  /* ==========

  /* vertical space (parskip)

  p, ol, ul, dl
    margin-top: 0.5em
    margin-bottom: 0.5em

  div
    &.line-block, &.topic
      margin-top: 0.5em
      margin-bottom: 0.5em

  table
    margin-top: 0.5em
    margin-bottom: 0.5em

  p
    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  /* (:last-child is new in CSS 3)

  h1, h2, h3, h4, h5, h6, dl > dd
    margin-bottom: 0.5em

  /* Lists
  /* =====

  /* Definition Lists

  /* lists nested in definition lists
  /* (:only-child is new in CSS 3)

  dd >
    ul:only-child, ol:only-child
      padding-left: 1em

  /* Description Lists
  /* styled like in most dictionaries, encyclopedias etc.

  dl
    &.description > dt
      font-weight: bold
      clear: left
      float: left
      margin: 0
      padding: 0
      padding-right: 0.5em

    &.field-list
      &.narrow > dd
        margin-left: 5em

      &.run-in > dd p
        display: block

  /* Field Lists

  /* example for custom field-name width

  /* run-in: start field-body on same line after long field names

  /* Bibliographic Fields

  /* generally, bibliographic fields use special definition list dl.docinfo
  /* but dedication and abstract are placed into "topic" divs

  div
    &.abstract p.topic-title
      text-align: center

    &.dedication
      margin: 2em 5em
      text-align: center
      font-style: italic

      p.topic-title
        font-style: normal

  /* Citations

  dl.citation dt.label
    font-weight: bold

  span.fn-backref
    font-weight: normal

  /* Text Blocks
  /* ===========

  /* Literal Blocks

  pre
    &.literal-block, &.doctest-block, &.math, &.code
      font-family: monospace

  /* Block Quotes

  blockquote > table, div.topic > table
    margin-top: 0
    margin-bottom: 0

  blockquote p.attribution, div.topic p.attribution
    text-align: right
    margin-left: 20%

  /* Tables
  /* ======

  /* th { vertical-align: bottom; }

  table
    tr
      text-align: left

    &.booktabs
      border: 0
      border-top: 2px solid
      border-bottom: 2px solid
      border-collapse: collapse

      *
        border: 0

      th
        border-bottom: thin solid

    &.numbered > caption:before
      counter-increment: table
      content: "Table " counter(table) ": "
      font-weight: bold

  /* "booktabs" style (no vertical lines)

  /* numbered tables (counter defined in div.document)

  /* Explicit Markup Blocks
  /* ======================

  /* Footnotes and Citations
  /* -----------------------

  /* line on the left

  dl.footnote
    padding-left: 1ex
    border-left: solid
    border-left-width: thin

  /* Directives
  /* ----------

  /* Body Elements
  /* ~~~~~~~~~~~~~

  /* Images and Figures

  /* let content flow to the side of aligned images and figures

  .figure.align-left, figure.align-left, img.align-left, object.align-left
    display: block
    clear: left
    float: left
    margin-right: 1em

  .figure.align-right, figure.align-right, img.align-right, object.align-right
    display: block
    clear: right
    float: right
    margin-left: 1em

  /* Stop floating sidebars, images and figures at section level 1,2,3

  h1, h2, h3
    clear: both

  /* Sidebar

  /* Move right. In a layout with fixed margins,
  /* it can be moved into the margin.

  div.sidebar, aside.sidebar
    width: 30%
    max-width: 26em
    margin-left: 1em
    margin-right: -2%
    background-color: #ffffee

  /* Code

  pre.code
    padding: 0.7ex
    background-color: #eeeeee

  code
    background-color: #eeeeee

  pre.code
    .ln
      color: gray

    .comment
      color: #5C6576

  /* line numbers
  /* basic highlighting: for a complete scheme, see
  /* http://docutils.sourceforge.net/sandbox/stylesheets/

  code .comment
    color: #5C6576

  pre.code .keyword, code .keyword
    color: #3B0D06
    font-weight: bold

  pre.code .literal.string, code .literal.string
    color: #0C5404

  pre.code .name.builtin, code .name.builtin
    color: #352B84

  pre.code .deleted, code .deleted
    background-color: #DEB0A1

  pre.code .inserted, code .inserted
    background-color: #A3D289

  /* Math
  /* styled separately (see math.css for math-output=HTML)

  /* Epigraph
  /* Highlights
  /* Pull-Quote
  /* Compound Paragraph
  /* Container

  /* can be styled in a custom stylesheet

  /* Document Header and Footer

  footer, header
    font-size: smaller
    clear: both
    padding: 0.5em 2%
    background-color: #ebebee
    border: none

  div
    &.footer, &.header
      font-size: smaller
      clear: both
      padding: 0.5em 2%
      background-color: #ebebee
      border: none

  /* Inline Markup
  /* =============

  /* Emphasis
  /*   em
  /* Strong Emphasis
  /*   strong
  /* Interpreted Text
  /*   span.interpreted
  /* Title Reference
  /*   cite

  /* Inline Literals
  /* possible values: normal, nowrap, pre, pre-wrap, pre-line
  /*   span.docutils.literal { white-space: pre-wrap; }

  /* Hyperlink References

  a
    text-decoration: none

  /* External Targets
  /*   span.target.external
  /* Internal Targets
  /*   span.target.internal
  /* Footnote References
  /*   a.footnote-reference
  /* Citation References
  /*   a.citation-reference
