.block
  ul.editable, ol.editable
    margin: 0 0.6rem
    padding: 0.5rem 1rem
    white-space: pre-wrap

    li
      padding: 0.4rem 0
      line-height: 1.1rem

  .editable.quote
    color: gray
    background: #eee
