ul.list-inline-separator li.list-inline-item
  padding: 3px 0 3px 5px

ul.list-inline-separator li.list-inline-item:not(:last-child)
  margin-right: 0px

ul.list-inline-separator li:after
  content: '\00B7'
  padding-left: 5px

ul.list-inline-separator li:last-child:after
  content: ''

dl
  dt
    text-transform: uppercase
    color: $text-muted
    font-size: 8pt
    font-weight: bold
  
  dd
    margin-bottom: 2em
    font-size: 12pt

  &.dl-lg
    dt
      font-size: 10pt
    
    dd
      font-size: 14pt
