$nav-pills-underline-link-color: $gray-600 !default;
$nav-pills-underline-link-active-color: $black !default;
$nav-pills-underline-link-hover-color: $link-hover-color !default;

$nav-pills-underline-bg:    transparent !default;
$nav-pills-underline-active-bg:    transparent !default;
$nav-pills-underline-hover-bg:    transparent !default;

$nav-pills-underline-border-width:    2px !default;
$nav-pills-underline-border-color:    $gray-700;
$nav-pills-underline-hover-border-color: map-get($theme-colors, "primary");



.nav-pills-underline{
  .nav-link {
    @include border-radius(0);

    &.active,
    .show > & {
      color: $nav-pills-underline-link-active-color;
      //background-color: $nav-pills-underline-active-bg;

    }
  }

  > li.nav-item {
    > a.nav-link{

      background-color: $nav-pills-underline-bg !important;
      border-bottom-width: $nav-pills-underline-border-width;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      color: $nav-pills-underline-link-color;
    }

    > a.nav-link.active,
    > a.nav-link.active:hover,
    > a.nav-link:hover
    {
      text-decoration: none;
      border-bottom-width: $nav-pills-underline-border-width;
      border-bottom-style: solid;
      border-bottom-color: $nav-pills-underline-border-color;
    }

    > a.nav-link.active{
      background-color: $nav-pills-underline-active-bg !important;
      color: $nav-pills-underline-link-active-color;
    }

    > a.nav-link.active:hover,
    > a.nav-link:hover
    {
      color: $nav-pills-underline-link-hover-color;
      background-color: $nav-pills-underline-hover-bg !important;
      border-bottom-color: $nav-pills-underline-hover-border-color;

    }

  }



}