.navbar
  input.form-control
    border-color: rgba(255, 255, 255, 0.5)
    
    &::-webkit-input-placeholder
      color: rgba(255, 255, 255, 0.5)

  .dropdown-toggle::after
    vertical-align: 0.127em
