.cursor-pointer
  cursor: pointer

.cursor-croshair
  cursor: crosshair
  
.cursor-eresize
  cursor: e-resize

.cursor-move
  cursor: move

.bg-light-gray
  background: #ddd

.text-light-gray
  color: #ddd

.border-light-gray
  border-color: #ddd

.unselectable
  user-select: none

a.no-underline
  text-decoration: none
