<% if classification %>
<style>
  .classification {
    border-color: <%= classification.color || 'black' %>;
    color: <%= classification.color || 'black' %>;
  }
</style>

<% if classification.double_border? %>
<div class='classification classification-double'>
<% else %>
<div class='classification'>
<% end %>

  <% if classification.title.present? %>
  <div class='classification-title'>
    <%= classification.title %>
  </div>
  <% end %>

  <% if classification.description.present? %>
  <div class='classification-description'>
    <%= classification.description %>
  </div>
  <% end %>
  
  <div class='classification-label'>
    <%= classification.label || classification.name %>
  </div>

  <% if classification.date_format.present? %>
  <div class='classification-date'>
    <%= DateTime.now.strftime(classification.date_format) %>
  </div>
  <% end %>

  <% if classification.authority.present? %>
  <div class='classification-authority'>
    <%= classification.authority %>
  </div>
  <% end %>

</div>
<% end %>
