@import 'css/theme.css';

.wy-side-nav-search {
  background-color: #007bff;
}

.wy-nav-content {
  background-image: url('images/waterstamp.svg')
}

.classification {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  padding: 0 0.5em;
  margin: 1em 0;
  text-align: center;
}


.classification.classification-double {
  border-style: double;
  border-width: thick;
}

.classification .classification-title {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.classification .classification-description {
  margin: 0.5em 0;
  font-size: 0.8em;
}

.classification .classification-label {
  margin: 0.5em 0;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.classification .classification-date {
  margin: 0.5em 0;
  font-size: 0.8em;
}

.classification .classification-authority {
  margin: 0.5em 0;
  font-size: 0.9em;
}
