<template lang="pug">
div
  .form-group( v-for='prop in document.properties' )
    label {{ prop.name }}

    input(type='hidden', name='document[properties][][id]', :value='prop.id')

    div(v-if="prop.kind == 'Integer'")
      input.form-control.col-md-6.col-xl-4(type='number', :placeholder='prop.description', v-model='prop.value'
                                           name='document[properties][][value]' )

    div(v-else-if="prop.kind == 'Boolean'")
      .custom-control.custom-switch
        input.custom-control-input( :id='"checkbox" + prop.id', type='checkbox', v-model='prop.value',
                                    name='document[properties][][value]' )
        label.custom-control-label( :for='"checkbox" + prop.id' )

    div(v-else-if="prop.kind == 'String'")
      input.form-control(type='text', :placeholder='prop.description', v-model='prop.value',
                         name='document[properties][][value]' )

    div(v-else)
      select.custom-select(v-model='prop.value', name='document[properties][][value]' )
        option(v-for='opt in prop.options') {{ opt }}

</template>

<script>
import Axios from 'axios';
export default { props: ['document'] };
</script>
