<template lang='pug'>
dl( :class='dlClass' )
  template( v-for='p in properties' )
    dt {{ p.name }}
    dd( v-if='p.value' )
      template( v-if="p.kind == 'Boolean'" )
        | {{ p.value | capitalize }}
      template( v-else )
        | {{ p.value }}
    dd( v-if='!p.value' )
      span.text-muted.font-italic No value 
</template>

<script>
export default {
  props: {
    properties: {
      type: Array,
      default: () => []
    },
    dlClass: {
      type: String,
      default: ''
    }
  }
}
</script>
