<template>
  <div class='flex-grow-1' :class='{ active: isFocused }'>
    <image-toolbar :class='{ active: isFocused }' :block='block' />
    <div v-if='block.locked'>
      Encrypted image.
    </div>
    <div v-else>
      <a href='javascript:;'>
        <img
          class='img-thumbnail my-2'
          :src='block.content'
        />
      </a>
    </div>
  </div>
</template>

<script>

import ImageToolbar from './Toolbar.vue';
import Editable from 'components/Editable';

export default {
  props: ['block', 'isFocused'],
  components: {
    ImageToolbar,
    Editable
  },
  computed: {
  }
}
</script>
