<template lang='pug'>
.block-toolbar-container
  .block-toolbar.btn-toolbar.bg-light.d-flex(role='toolbar')

    .btn-group(role='group' aria-label='Block alignment')
      button.btn.btn-outline-secondary(
        @click.prevent='setAlignment("left")'
        :class="{ active: block.alignment == 'left' }"
      )
        i.fas.fa-align-left
      button.btn.btn-outline-secondary(
        @click.prevent='setAlignment("center")'
        :class="{ active: block.alignment == 'center' }"
      )
        i.fas.fa-align-center
      button.btn.btn-outline-secondary(
        @click.prevent='setAlignment("right")'
        :class="{ active: block.alignment == 'right' }"
      )
        i.fas.fa-align-right

    .btn-group.ml-2(role='group' aria-label='Source kind')
      button.btn.btn-outline-secondary(@click.prevent='setKind("url")' :class="{ active: kind == 'url' }")
        | URL
      button.btn.btn-outline-secondary(@click.prevent='setKind("file")' :class="{ active: kind == 'file' }")
        | File

    .ml-2.flex-grow-1(v-if='kind == "file"')
      .custom-file.text-left
        input.custom-file-input#imageFile(type='file' @change='setFile')
        label.custom-file-label(for='imageFile') Choose file

    .input-group.ml-2.flex-grow-1(v-if='kind == "url"')
      .input-group-prepend
        .input-group-text Source
      input.form-control(type='text' placeholder='Image URL' v-model='block.content')

</template>

<script>
export default {
  props: ['block'],

  computed: {
    kind: function() {
      if (this.block && this.block.kind) {
        return this.block.kind
      }
      return 'url'
    }
  },

  methods: {
    setFile(e) {
      var files = e.target.files || e.dataTransfer.files
      var reader = new FileReader()
      var vm = this
      reader.onload = (e) => { vm.block.content = e.target.result }
      reader.readAsDataURL(files[0])
    },
    setAlignment: function (align) {
      this.block.alignment = align
    },
    setKind: function (kind) {
      this.block.kind = kind
    }
  }
}
</script>
