<template>
  <div class='flex-grow-1' :class='{ active: isFocused }'>
    <heading-toolbar :class='{ active: isFocused }' :block='block' />
    <editable
      class='editable p-2 flex-grow-1'
      :element='headingElement'
      v-model='block.content'
    />
  </div>
</template>

<script>

import HeadingToolbar from './Toolbar.vue';
import Editable from 'components/Editable';

export default {
  props: ['block', 'isFocused'],
  components: {
    HeadingToolbar,
    Editable
  },
  computed: {
    headingElement: function() {
      return 'h' + this.block.level;
    }
  }
}
</script>
