<template>
  <div class='block-toolbar-container'>
    <div class='block-toolbar btn-toolbar bg-light' role='toolbar'>
      <div class='btn-group mr-2' role='group' aria-label='Heading levels'>
        <div class='dropdown'>
          <button
            ref='levelButton'
            class='btn btn-outline-secondary dropdown-toggle'
            type='button'
            data-toggle='dropdown'
            aria-haspopup='true'
            aria-expanded='false'>
            Level {{ block.level }}
          </button>
          <div class='dropdown-menu'>
            <a class='dropdown-item' href='#' @click.prevent='setLevel(1)' style='font-size: 1.4em'>
              Level 1
            </a>
            <a class='dropdown-item' href='#' @click.prevent='setLevel(2)' style='font-size: 1.3em'>
              Level 2
            </a>
            <a class='dropdown-item' href='#' @click.prevent='setLevel(3)' style='font-size: 1.2em'>
              Level 3
            </a>
            <a class='dropdown-item' href='#' @click.prevent='setLevel(4)' style='font-size: 1.1em'>
              Level 4
            </a>
            <a class='dropdown-item' href='#' @click.prevent='setLevel(5)' style='font-size: 1em'>
              Level 5
            </a>
          </div>
        </div>
      </div>
      <div class='btn-group' role='group' aria-label='Block alignment'>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("left")'
          :class="{ active: block.alignment == 'left' }"
        >
          <i class='fas fa-align-left'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("center")'
          :class="{ active: block.alignment == 'center' }"
        >
          <i class='fas fa-align-center'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("right")'
          :class="{ active: block.alignment == 'right' }"
        >
          <i class='fas fa-align-right'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("justify")'
          :class="{ active: block.alignment == 'justify' }"
        >
          <i class='fas fa-align-justify'/>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['block'],
  methods: {
    setAlignment: function (align) {
      this.block.alignment = align;
    },
    setLevel: function (level) {
      this.block.level = level;
      this.$refs.levelButton.focus();
    },
  }
}
</script>