<template>
  <div class='flex-grow-1' :class='{ active: isFocused }'>
    <quote-toolbar
      :class='{ active: isFocused }'
      :block='block'
      :isBold='isBold'
      :isItalic='isItalic'
      :isStrike='isStrike'
    />
    <blockquote :class='alignmentClass' class='blockquote'>
      <span class="fa fa-quote-left quote-mark" />
      <editable
        class='editable p-2 flex-grow-1'
        v-model='block.content'
        ref='editable'
        @formatChange='formatChange'
      />
      <div v-if="block.source">
        <footer class="blockquote-footer">{{ block.source }}</footer>
      </div>
    </blockquote>
  </div>
</template>

<script>
 
import Editable from 'components/Editable';
import QuoteToolbar from './Toolbar.vue';

export default {
  props: ['block', 'isFocused'],
  components: {
    QuoteToolbar,
    Editable
  },
  data: function() {
    return {
      isBold: false,
      isItalic: false,
      isStrike: false
    };
  },
  methods: {
    alignmentClass: function() {
      return 'text-' + this.block.alignment;
    },
    formatChange: function(formats) {
      this.isBold = formats.isBold || false;
      this.isItalic = formats.isItalic || false;
      this.isStrike = formats.isStrike || false;
    }
  }
}
</script>
