<template>
  <div class='block-toolbar-container'>
    <div class='block-toolbar btn-toolbar bg-light' role='toolbar'>
      <div class='btn-group mr-2'>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("left")'
          :class="{ active: block.alignment == 'left' }"
        >
          <i class='fas fa-align-left'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("center")'
          :class="{ active: block.alignment == 'center' }"
        >
          <i class='fas fa-align-center'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("right")'
          :class="{ active: block.alignment == 'right' }"
        >
          <i class='fas fa-align-right'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='setAlignment("justify")'
          :class="{ active: block.alignment == 'justify' }"
        >
          <i class='fas fa-align-justify'/>
        </button>
      </div>
      <div class='btn-group'>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='toggleBold()'
          :class="{ active: isBold }"
        >
          <i class='fas fa-bold'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='toggleItalic()'
          :class="{ active: isItalic }"
        >
          <i class='fas fa-italic'/>
        </button>
        <button
          class='btn btn-outline-secondary'
          @click.prevent='toggleStrike()'
          :class="{ active: isStrike }"
        >
          <i class='fas fa-strikethrough'/>
        </button>
      </div>
      <div class='input-group ml-2 flex-grow-1'>
        <div class='input-group-prepend'>
          <div class='input-group-text'>Source</div>
        </div>
        <input
          type='text'
          class='form-control'
          id='inlineFormInputGroup'
          placeholder='Source'
          v-model='block.source'
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['block', 'isBold', 'isItalic', 'isStrike'],
  methods: {
    setAlignment: function (align) {
      this.block.alignment = align;
    },
    toggleBold: function() {
      document.execCommand("bold", false, null);
    },
    toggleItalic: function() {
      document.execCommand("italic", false, null);
    },
    toggleStrike: function() {
      document.execCommand("strikethrough", false, null);
    }
  }
}
</script>
