%nav.navbar.navbar-expand-lg.sticky-top.navbar-dark.bg-primary.py-lg-0

  = link_to root_url, class: 'navbar-brand' do
    = image_tag 'logo-white.svg', width: 25, height: 25, loading: :lazy, alt: 'Doksi home'
  %button.navbar-toggler{ type: 'button',
                          data: { toggle: 'collapse', target: '#navbar' },
                          aria: { controls: 'navbar', expanded: 'false', label: 'Toggle navigation' } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#navbar

    %ul.navbar-nav.flex-fill#nav-links
      %li.nav-item
        = navbar_link 'Documents', documents_path, controller: :documents
      %li.nav-item
        = navbar_link 'Teams', teams_path, controller: :teams

      - if user_signed_in? && current_user.admin?
        %li.nav-item
          = navbar_link 'Admin', admin_dashboard_path, controller: :admin

    = form_tag documents_path, method: :get, class: 'form-inline my-2 my-lg-0' do
      .form-group
        = text_field_tag :search, params[:search], placeholder: 'Search', size: 40,
                         class: 'form-control form-control-sm mr-sm-2 bg-primary text-light'

    %ul.navbar-nav#nav-auth
      - if user_signed_in?
        %users-menu#user-menu{ json: current_user.to_json,
                              settings_path: settings_path,
                              profile_path: user_path(current_user),
                              sign_out_path: destroy_user_session_path }

      - else
        %li.nav-item
          = link_to 'Sign in', new_user_session_path, class: 'nav-link'
