- content_for :content do
  %h3.text-center.text-muted.mt-3.text-uppercase.font-weight-bold Admin area
  %nav.nav.justify-content-center.nav-pills.mt-3
    = navbar_link 'Dashboard', admin_dashboard_path, controller: :admin, action: :dashboard
    = navbar_link 'Classifications', admin_classifications_path, controller: :admin, action: :classifications
    = navbar_link 'Statuses', admin_statuses_path, controller: :admin, action: :statuses
    = navbar_link 'Properties', admin_properties_path, controller: :admin, action: :properties
    = navbar_link 'Roles', admin_roles_path, controller: :admin, action: :roles
  .m-5
    = yield

= render template: 'layouts/application'
