!!! 5

%html{ lang: 'en' }

  %head

    %title Doksi
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('logo-blue-32.png')
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    - if content_for? :head
      = yield :head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

  %body
    .d-flex.flex-column#doksi
      = render 'layouts/navbar'
      = render 'shared/alerts'
      = content_for?(:content) ? yield(:content) : yield

  - if content_for? :script
    = yield :script
